@{
    ViewBag.Title = "انبار شباد";
}

@await Html.PartialAsync("/Modules/NewFormPlate1V1.cshtml")

<div id="healthIDModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-xl">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="col-sm-6 text-right">
                    <h5 class="modal-title mt-0">لیست HID</h5>
                </div>
            </div>
            <div class="modal-header">
                <div class="row-info text-right d-flex">
                    <h4 class="font-16 my-2">
                        <span class="text-gray">شناسه : </span><span id="insId">-</span>
                    </h4>
                    <div class="border-right mr-2" ondblclick="">
                        <p class="d-inline-block pl-2 m-2">عنوان بیمه : <span id="insurerName">-</span></p>
                    </div>
                </div>
                <button type="button" id="countHID" class="btn btn-success" onclick="run_button_countHID(this)">درخواست HID</button>
            </div>
            <div class="modal-body modal-max-height-lg text-right">
                <div id="healthId_pagetable" class="card-body" data-parsley-validate>
                    @await Html.PartialAsync("/Modules/NewPageTableV1.cshtml")
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-close" onclick="modal_close('healthIDModal')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>بستن</button>
            </div>
        </div>
    </div>
</div>

<script src="/Modules/MC/HealthIDOrder/HealthIDOrderIndex.js"></script>