@{
    ViewBag.Title = "گزارش بستن صندوق";
}

<div class="content-page  displaynone" id="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30 m-t-15">
                        <div class="header-title d-flex">
                            <span>@ViewBag.Title</span>
                            <div class="button-items">
                                <button id="getReport" class="btn green_2 waves-effect waves-light"><i class="fas fa-sticky-note ml-1"></i>پیش نمایش</button>
                                <button id="showReport" type="button" class="btn btn-warning"><i class="fas fa-file-import ml-1"></i>تهیه گزارش</button>
                                @await Html.PartialAsync("/Modules/_Report/_SettingReport.cshtml")
                                <button type="button" id="exportCSV" onclick="export_serviceAttenderTariff_csv()" class="btn btn-excel waves-effect"><i class="fa fa-file-excel ml-2"></i>اکسل</button>
                            </div>
                        </div>
                        <div class="card-body" data-parsley-validate>
                            <fieldset class="group-box group-box-gray">
                                <button type="button" onclick="plus(this)" class="btn btn-light border-dark plus">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <legend>فیلتر</legend>
                                <div class="slideToggle open">
                                    <div class="col-md-12 row">
                                        <div class="col-lg-2 col-sm-4 mb-0">
                                            <div class="form-group">
                                                <label>شعبه</label>
                                                <div class="col-sm-12 chosen-container-parent">
                                                    <select data-placeholder="انتخاب کنید" id="branchId" required data-parsley-selectvalzero class="select2 select2-quick-access" tabindex="1" data-parsley-errors-container="#branchIdErrorContainer">
                                                        <option value="0">انتخاب کنید</option>
                                                    </select>
                                                </div>
                                                <div id="branchIdErrorContainer"></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-3 col-sm-4 m-0">
                                            <label>تاریخ رزرو</label>
                                            <div class="double-input-box">
                                                <div class="double-input">
                                                    <input type="text" id="fromWorkDayDatePersian" class="form-control number persian-date persian-datepicker" value="@DateTime.Now.ToPersianDateString("{0}/{1}/{2}")" placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" data-parsley-shamsidate data-parsley-validate-if-empty="true" data-parsley-errors-container="#fromWorkDayDatePersianErrorContainer" data-parsley-comparedate="toWorkDayDatePersian" data-parsley-dateisonemonth="toWorkDayDatePersian" maxlength="10" tabindex="2"/>
                                                </div>
                                                <div class="double-input">
                                                    <input type="text" id="toWorkDayDatePersian" class="form-control number persian-date persian-datepicker" value="@DateTime.Now.ToPersianDateString("{0}/{1}/{2}")" placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" data-parsley-shamsidate data-parsley-validate-if-empty="true" data-parsley-errors-container="#toWorkDayDatePersianErrorContainer" maxlength="10" tabindex="3"/>
                                                </div>
                                            </div>
                                            <div class="double-input-box">
                                                <div class="double-input" id="fromWorkDayDatePersianErrorContainer"></div>
                                                <div class="double-input" id="toWorkDayDatePersianErrorContainer"></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2 col-sm-4 mb-0">
                                            <label>کاربر ثبت کننده</label>
                                            <div>
                                                <select id="createUserId" class="form-control select2" tabindex="4">
                                                    <option value="0">انتخاب کنید</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="group-box group-box-gray mt-3">
                                <legend>پیش نمایش</legend>
                                <div class="pagetable-report" id="mainReport">
                                    @await Html.PartialAsync("/Modules/PageTableReport.cshtml")
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</div>


<!--Modal-->
<div id="previewReportModal" class="modal fade" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">تهیه گزارش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="col-lg-9 col-sm-12 pr-0">
                    <div class="form-group">
                        <label>شکل گزارش</label>
                        <select class="form-control" id="reportType" tabindex="1">
                            <option value="6">گزارش مقایسه ای بستن به تفکیک صندوقدار - اظهاری / واقعی</option>
                            <option value="7">گزارش مقایسه ای بستن به تفکیک وجوه اظهاری / واقعی</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-previewReport" class="btn btn-success waves-effect waves-light" tabindex="2"><i class="fa fa-save"></i>تهیه گزارش</button>
                <button id="modal-close" onclick="modal_closePreviewRepor('previewReportModal')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<script type="text/javascript" src="/Modules/MC/Report/RepAdmissionCashCloseForm.js"></script>