@{
    ViewBag.Title = "پذیرش تامین";
}

<link href="~/plugins/NextPrevious/np1/jquery-steps.css" rel="stylesheet"/>
<link href="~/lib/ModulesCss/AdmissionForm.css" rel="stylesheet"/>
<link href="~/lib/ModalePrint/PrintCss.css" rel="stylesheet"/>

<div class="content-page displaynone" id="content-page">
<div class="content" id="admissionFormBox">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card m-b-30 m-t-15" id="form">
<div class="header-title d-flex">
    <div id="bcTarget" style="display : none"></div>
    @await Html.PartialAsync("/Modules/MC/AdmissionHeaderForms/HeaderForms.cshtml")
    <div class="button-items" style="flex-basis: 100% !important;">
        <button id="list_adm" type="button" class="btn btn_green_1 waves-effect"><i class="fa fa-list-ul"></i>لیست</button>
        <button id="saveForm" type="button" class="btn btn-success waves-effect" title="Ctrl + S"><i class="fa fa-save"></i>ذخیره</button>
        @*<button id="newForm" type="button" class="btn btn-info waves-effect"><i class="fa fa-plus-circle"></i>جدید</button>*@
    </div>
</div>
<div class="card-body">
<div class="row d-none mb-3" id="admBox">
    <div class="col-12">
        <input id="admnId" type="text" class="form-control number d-none" maxlength="10" readonly value="@ViewContext.RouteData.Values["id"]"/>
        <div>
            <table style="width:100% !important">
                <thead style="background-color: #dad9d9;">
                <tr style="border-bottom: 1px solid #f1f1f1; min-height: 30px;">
                    <th style="width: 5%; padding: 4px;border: 1px solid #dee2e6;">شناسه</th>
                    <th style="width: 8%; padding: 4px;border: 1px solid #dee2e6;">تاریخ / زمان رزرو</th>
                    <th style="width: 13%; padding: 4px;border: 1px solid #dee2e6;">کاربر ثبت کننده</th>
                    <th style="width: 22%; padding: 4px;border: 1px solid #dee2e6;">جریان کار</th>
                    <th style="width: 22%; padding: 4px;border: 1px solid #dee2e6;">مرحله</th>
                    <th style="width: 20%; padding: 4px;border: 1px solid #dee2e6;">گام</th>
                    <th style="width: 10%; padding: 4px;border: 1px solid #dee2e6;">مبلغ پذیرش</th>
                </tr>
                </thead>
                <tbody id="admBoxTbody">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="main-steps">
<div class="step-app" id="admissionTaminFormSteps">
<ul class="step-steps">
    <li data-step-target="step1" id="stepHeader0">داکتر</li>
    <li data-step-target="step2" id="stepHeader1">مراجعه کننده</li>
    <li data-step-target="step5" id="stepHeader2">جزئیات نسخه ها</li>
    <li data-step-target="step3" id="stepHeader3">خدمات</li>
    <li data-step-target="step4" id="stepHeader4">دریافت / پرداخت</li>
</ul>
<div class="step-content" style="height: calc(100vh - 385px) !important; overflow-y: auto;">
<div class="step-tab-panel tabToggle0" data-step="step1" id="stepIndex0" data-parsley-validate="">
    <fieldset id="attenderForm" class="group-box group-box-green" asp-antiforgery="true">
        <legend>داکتر</legend>
        <div class="row" id="attenderFormRow">
            <div class="form-group col-lg-2 col-sm-3">
                <label>داکتر</label>
                <div class="col-12 chosen-container-parent">
                    <select data-placeholder="انتخاب کنید" id="attenderId" class="select2 select2-quick-access" data-parsley-errors-container="#attenderIdError" data-parsley-selectvalzero="" required tabindex="1">
                        <option value="0">انتخاب کنید</option>
                    </select>
                </div>
                <div id="attenderIdError"></div>
            </div>
            <div class="form-group col-lg-2 col-sm-3">
                <label>داکتر ارجاع دهنده</label>
                <div class="col-12 chosen-container-parent">
                    <select data-placeholder="انتخاب کنید" id="referringDoctorId" class="form-control select2 select2-quick-access" tabindex="2">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-1 col-sm-3">
                <label>تاریخ نسخه</label>
                <div id="datepicker-place">
                    <input id="prescriptionDatePersian" type="text" class="form-control persian-date" placeholder="____/__/__" data-parsley-errors-container="#prescriptionDatePersianErrorContainer" data-parsley-shamsidate maxlength="10" tabindex="3" disabled/>
                    <ul class="parsley-errors-list filled d-none" id="parsley-prisdate">
                        <li class="parsley-expdate">تاریخ نسخه معتبر نمی باشد</li>
                    </ul>
                </div>
                <div class="prescriptionDatePersianErrorContainer"></div>
            </div>
            <div class="form-group col-lg-2">
                <label>شیفت</label>
                <div>
                    <select class="form-control" id="reserveShift" tabindex="4" disabled>
                        <option value="0" selected>انتخاب شیفت</option>
                    </select>
                </div>
            </div>
            <div class="form-group row col-lg-3 col-sm-12">
                <div class="col-lg-12 col-sm-12" style="display: inline-flex;">
                    <div class="col-lg-5 col-sm-1-5" style="padding: 0 2px 0 2px">
                        <label>نوبت</label><input id="reserveNo" type="text" class="form-control text-right number" maxlength="5" readonly placeholder=""/>
                    </div>
                    <div class="col-lg-7 col-sm-2-5" style="padding: 0 2px 0 2px">
                        <label>تاریخ</label>
                        <input id="reserveDate" type="text" class="form-control text-right number" readonly placeholder=""/>
                    </div>
                    <div class="col-lg-4 col-sm-2-5 d-none" style="padding: 0 2px 0 2px">
                        <label></label>
                        <input id="scheduleBlockId" type="text" class="form-control text-right number" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-3">
                <label style=" visibility: hidden; ">ویرایش</label>
                <div class="col-12">
                    <button id="editReferingDoctorInfoId" onclick="editReferingDoctorInfo()" class="btn btn-success waves-effect waves-light">ویرایش</button>
                    <button id="saveReferingDoctorInfoId" onclick="saveReferingDoctorInfo()" disabled class="btn btn-success waves-effect waves-light mr-2 d-none">
                        <i class=""></i><span>ذخیره</span>
                    </button>
                </div>
            </div>
        </div>
    </fieldset>
    @*<div id="reserveBox" class="d-none">
                                                @await Html.PartialAsync("/Modules/MC/Admission/AtenderReserveModal.cshtml")
                                            </div>*@
</div>
<div class="step-tab-panel tabToggle1" data-step="step2" id="stepIndex1" data-parsley-validate="">
    <fieldset class="group-box group-box-orange mt-3" id="patientForm" data-parsley-validate>

        <button id="searchPatient" type="button" class="btn btn-light border-orange searchPatientBtn" style="float:left;margin:-28px 0 0 15px" title="جستجو (Ctrl+Shift+f)"><i class="fa fa-search"></i>جستجو</button>
        <legend>مراجعه کننده</legend>
        <div class="row">
            <div class="form-group col-lg-2 col-sm-2">
                <label>شناسه</label>
                <div>
                    <input id="patientId" type="text" class="form-control number" disabled maxlength="50"/>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-2 basicInsurer-section">
                <label>بیمه اجباری / صندوق بیمه</label>
                <div class="col-lg-12 chosen-container-parent">
                    <select id="basicInsurerLineId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="10" disabled>
                        <option value="1-1">80001 / تامین اجتماعی - بیمه اجباری</option>
                        <option value="1-73">803673 / آزاد - آزاد</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-lg-2 col-sm-2">
                <label>نمبر تذکره / نمبر تابعیت (خارجی )</label>
                <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                    <input id="nationalCode" type="text" name="nationalCode" class="form-control col-12 str-number" maxlength="12" tabindex="11" data-parsley-nationalcodeadmission="" data-parsley-errors-container="#nationalCodeErrorContainer"/>
                    <span class="input-group-btn input-group-prepend">
                        <button id="getDeserveInfo" style="align-items: center;" class="btn btn-secondary bootstrap-touchspin-up d-inline-flex" type="button" data-toggle="tooltip" data-placement="bottom" title="وب سرویس استحقاق درمان">
                            <i class="fas fa-users"></i>
                        </button>
                    </span>
                </div>
                <div id="nationalCodeErrorContainer"></div>
            </div>

            <div class="form-group col-lg-2 col-sm-2">
                <label>نام</label>
                <div>
                    <input id="firstName" type="text" class="form-control atoz-valid" title="" data-parsley-group="addservice" required data-parsley-maxlength="50" tabindex="12"/>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-3">
                <label> تخلص</label>
                <div>
                    <input id="lastName" type="text" class="form-control atoz-valid" title="" data-parsley-group="addservice" required data-parsley-maxlength="50" tabindex="13"/>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-2">
                <label>تاریخ تولد</label>
                <div>
                    <input id="birthDatePersian" type="text" class="form-control persian-date" placeholder="____/__/__" data-parsley-shamsidate maxlength="10" tabindex="14" disabled/>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-2 d-none">
                <div>
                    <input id="admnMasterId" type="text" class="form-control number" disabled maxlength="50"/>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-2">
                <label>جنسیت</label>
                <div>
                    <select id="genderId" class="form-control" title="" data-parsley-group="addservice" required data-parsley-notequalnumber="0" tabindex="15">
                        <option selected value="0">انتخاب کنید</option>
                        <option value="1">مرد</option>
                        <option value="2">زن</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-2 basicInsurer-section">
                <label>ملیت</label>
                <div class="col-lg-12 chosen-container-parent">
                    <select id="countryId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="16"></select>
                </div>
            </div>
            <div class="form-group col-lg-4 col-sm-4 compInsurer-section">
                <label>بیمه تکمیلی/طرف قرارداد</label>
                <div class="col-lg-12 chosen-container-parent">
                    <select id="compInsurerThirdPartyId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="15">
                        <option value="0">انتخاب کنید</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-3 thirdParty-section">
                <label>تخفیف</label>
                <div class="col-lg-12 chosen-container-parent">
                    <select id="discountInsurerId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="16">
                        <option value="0">انتخاب کنید</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-lg-2 col-sm-3">
                <label>موبایل</label>
                <div>
                    <input id="mobile" type="text" class="form-control str-number" maxlength="11" onkeydown="keyDownMobile(event)" data-parsley-mobileno="" tabindex="17"/>
                </div>
            </div>
        </div>
        <button type="button" id="expandAdmissionBtn" onclick="expandAdmission(this)" class="btn btn-light border-orange plus d-none">
            <i class="fas fa-plus"></i>
        </button>
        <div class="row">
            <div class="col-sm-11">

            </div>
            <div class="col-sm-1" style="text-align:end">
                <button id="editSectionPatient" type="button" class="btn btn-light border-orange" disabled tabindex="-1">ویرایش</button>
            </div>
        </div>
        <div class="slideToggle get" style="display:none;">
            <div class="row">
                <div class="form-group col-lg-2 col-sm-2">
                    <label>تذکره کاغذی</label>
                    <div>
                        <input id="idCardNumber" type="text" tabindex="1000000" maxlength="13" class="form-control str-number"/>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-sm-2">
                    <label>نمبر خانه (Postal Code)</label>
                    <div>
                        <input id="postalCode" type="text" tabindex="1000001" maxlength="10" class="form-control number"/>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-sm-2">
                    <label>شغل</label>
                    <div>
                        <input id="jobTitle" type="text" tabindex="1000002" maxlength="50" class="form-control"/>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-sm-2">
                    <label>تلفن</label>
                    <div>
                        <input id="phoneNo" type="text" tabindex="1000003" maxlength="11" class="form-control str-number"/>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-sm-2">
                    <label>وضعیت تاهل</label>
                    <div>
                        <select id="maritalStatusId" tabindex="1000004" class="form-control select2">
                            <option value="0">انتخاب کنید</option>
                            <option value="1">طلاق گرفته</option>
                            <option value="2">متاهل</option>
                            <option value="3">مجرد</option>
                            <option value="4">همسر فوت شده</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-sm-2 basicInsurer-section">
                    <label>تحصیلات</label>
                    <div class="col-lg-12 chosen-container-parent">
                        <select id="educationLevelId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="1000005"></select>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-sm-2">
                    <label>نام پدر</label>
                    <div>
                        <input id="fatherFirstName" maxlength="50" tabindex="1000006" type="text" class="form-control atoz-valid"/>
                    </div>
                </div>
                <div class="form-group col-lg-4 col-sm-5">
                    <label>آدرس</label>
                    <div>
                        <input id="address" type="text" class="form-control" @*onkeydown="tabkeyDownAddress(event)"*@ tabindex="1000007" maxlength="100"/>
                    </div>
                </div>

            </div>
        </div>
    </fieldset>
</div>
<div class="step-tab-panel tabToggle2" data-step="step3" id="stepIndex2" data-parsley-validate="">
    <fieldset class="group-box group-box-gray mt-3" id="prescriptionForm" data-parsley-validate>
        <legend>جزئیات نسخه ها</legend>
        <div class="col-lg-12 row" id="lanInputForm" data-parsley-validate>
            <div class="form-group col-lg-2">
                <label>گروه آزمایش</label>
                <div class="col-lg-12 chosen-container-parent">
                    <select id="serviceLaboratoryGroupId" class="form-control select2" disabled data-parsley-errors-container="#serviceLaboratoryGroupIdErrorContainer" tabindex="100">
                        <option value="0">انتخاب کنید</option>
                    </select>
                </div>
                <div id="serviceLaboratoryGroupIdErrorContainer"></div>
            </div>
            <div class="form-group col-lg-2">
                <label>کد تشخیص</label>
                <div>
                    <input id="diagnosisCode" maxlength="50" tabindex="101" type="text" class="form-control number" disabled/>
                </div>
            </div>
            <div class="form-group col-lg-4">
                <label>متن تشخیص</label>
                <div>
                    <input id="diagnosisComment" type="text" class="form-control" tabindex="102" maxlength="100" disabled/>
                </div>
            </div>
        </div>

        <div class="mb-2 d-flex">
            <section class="font-weight-normal p-0 col-9">
                نسخه انتخابی : <b class="font-weight-bolder ml-2 mr-2" id="ownerName">...</b>
                نمبر تذکره :<b class="font-weight-bolder ml-2 mr-2" id="ownerNationalCode">...</b>
                نوع نسخه:<b class="font-weight-bolder ml-2 mr-2" id="ownerPrescriptionType">...</b>
                شناسه نسخه :<b class="font-weight-bolder ml-2 mr-2" id="ownerPrescriptionNo">...</b>
                داکتر : <b class="font-weight-bolder ml-2 mr-2" id="ownerAttenderName">...</b>
            </section>
            <section class="text-left p-0  col-3">
                <button id="tryGetPrescription" type="button" onclick="getDataPrescriptionInfo($('#nationalCode').val())" class="btn" style="background-color:#d1004d;color:#fff" disabled>
                    <i class="fa fa-undo-alt"></i>
                    <span>نمایش نسخ الکترونیک</span>
                </button>
            </section>
        </div>
        <div class="table-responsive table-responsive-thead-fixed row" style="height:unset!important;max-height:200px!important">
            <table class="table table-styles border  body-report" id="tablePrescription" style="width: 100% !important;">
                <caption id="errorPrs" class="text-danger caption-prs d-none"></caption>
                <thead class="table-thead-fixed">
                <tr>
                    <th>شناسه نسخه</th>
                    <th>نام ولایت</th>
                    <th>نوع نسخه</th>
                    <th>نمبر تذکره</th>
                    <th>نام داکتر</th>
                    <th>نظام داکتری</th>
                    <th>تخصص</th>
                    <th>تاریخ نسخه</th>
                    <th>دلیل ارجاع</th>
                    <th>توضیحات</th>
                    <th>جزئیات</th>
                </tr>
                </thead>
                <tbody id="tempPrescription">
                <tr id="emptyRow">
                    <td colspan="11" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>

    </fieldset>
</div>
<div class="step-tab-panel tabToggle3" data-step="step4" id="stepIndex3" data-parsley-validate="">

    <fieldset id="serviceForm" class="group-box group-box-blue mt-3 " data-parsley-validate>
        <legend>خدمت</legend>
        <div class="row">
            <div class="col-lg-12 text-right">
                <div class="button-items">
                    <button id="addService" type="button" class="btn btn-light border-blue" style="margin-bottom: 10px" tabindex="103" disabled>
                        <i class="fa fa-arrow-down"></i>
                        افزودن
                    </button>
                    <button id="removeAllService" onclick="removeFromTempServiceAll()" type="button" class="btn maroon_outline border-danger" style="margin-bottom: 10px" disabled>
                        <i class="fa fa-trash-alt"></i>
                        حذف
                    </button>
                </div>
            </div>

            <div class="table-responsive">
                <div id="hasServiceError"></div>
                <table class="table table-styles border mb-0" id="pagetable">
                    <thead>
                    <tr>
                        <th class="col-width-percent-5">ردیف</th>
                        <th class="col-width-percent-21">خدمت</th>
                        <th class="col-width-percent-5">تعداد</th>
                        <th class="col-width-percent-8">تعرفه خدمات پایه</th>
                        <th class="col-width-percent-10">سهم بیمه اجباری</th>
                        <th class="col-width-percent-10">سهم بیمه تکمیلی</th>
                        <th class="col-width-percent-10">سهم طرف قرارداد</th>
                        <th class="col-width-percent-8">سهم مراجعه کننده</th>
                        <th class="col-width-percent-8">سهم تخفیف</th>
                        <th class="col-width-percent-8">خالص قابل دریافت</th>
                    </tr>
                    </thead>
                    <tbody id="tempService">
                    <tr id="emptyRow">
                        <td colspan="10" class="text-center">سطری وجود ندارد</td>
                    </tr>
                    </tbody>
                    <tbody id="sumRowService" class="displaynone">
                    <tr>
                        <td class="text-left col-width-percent-75" colspan="9">جمع</td>
                        <td class="col-width-percent-9 money total-amount sumNetPrice">۰</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<div class="step-tab-panel tabToggle4" data-step="step5" id="stepIndex4" data-parsley-validate="">

    <fieldset id="admissionServiceForm" class="group-box group-box-green mt-3">
        <legend>پرونده</legend>
        <div class="row">
            <div class="table-responsive">
                <div id="hasServiceError"></div>
                <table class="table table-styles border mb-0">
                    <thead>
                    <tr>
                        <th class="col-width-percent-2">ردیف</th>
                        <th class="col-width-percent-5">شناسه</th>
                        <th class="col-width-percent-8">نمبر تذکره</th>
                        <th class="col-width-percent-10">نام و  تخلص</th>
                        <th class="col-width-percent-20">جریان کار</th>
                        <th class="col-width-percent-20">مرحله</th>
                        <th class="col-width-percent-10">مبلغ کل</th>
                        <th class="col-width-percent-10">مبلغ پرداخت شده</th>
                        <th class="col-width-percent-10">مبلغ مانده</th>
                        <th class="col-width-percent-5">عملیات</th>
                    </tr>
                    </thead>
                    <tbody id="tempSelectedRequests">
                    <tr id="emptyRow">
                        <td colspan="10" class="text-center">سطری وجود ندارد</td>
                    </tr>
                    </tbody>
                    <tbody id="sumRowRequest" class="displaynone">
                    <tr>
                        <td class="text-left col-width-percent-75" colspan="8">جمع</td>
                        <td class="col-width-percent-10 money total-amount" id="sumNetPrice">0</td>
                        <td colspan="2"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>

    <fieldset class="group-box group-box-blue mt-3" id="admissionListForm">
        <legend>لیست درخواست پرونده</legend>

        <button type="button" id="expandAdmissionListBtn" onclick="expandAdmission(this)" class="btn btn-light border-blue plus">
            <i class="fas fa-plus"></i>
        </button>

        <div class="slideToggle get" style="display:none;">
            <div class="table-responsive">
                <table class="table table-styles pagetablebody border mb-0" id="admissionListTableForm" style="width:100% !important">
                </table>
            </div>
        </div>

    </fieldset>

    <fieldset class="group-box group-box-orange mt-3" id="admissionCashPayInfoBox">
        <legend>لیست صندوق پرونده</legend>

        <button type="button" id="expandAdmissionCashPayInfoBoxBtn" onclick="expandAdmission(this)" class="btn btn-light border-orange plus">
            <i class="fas fa-plus"></i>
        </button>
        <div class="slideToggle get" style="display:none;">
            <div>
                <div class="table-responsive">
                    <table class="table table-styles pagetablebody border mb-0" id="admissionCashPayInfo" style="width: 100% !important">
                    </table>
                </div>

                <fieldset id="cashFormDisplay" class="group-box mt-3" style="border: 0.5px dashed !important;">
                    <legend>دریافت / پرداخت صندوق (<span id="cashFormTitle"></span>)</legend>

                    <div class="table-responsive">
                        <table class="table table-styles border mb-0" id="admissionCashDisplay">
                            <thead>
                            <tr>
                                <th class="col-width-percent-3">ردیف</th>
                                <th class="col-width-percent-8">دریافت و پرداخت</th>
                                <th class="col-width-percent-15">نوع وجه</th>
                                <th class="col-width-percent-5">پوز</th>
                                <th class="col-width-percent-5">ارز</th>
                                <th class="col-width-percent-10">تفصیل</th>
                                <th class="col-width-percent-7">مبلغ</th>
                                <th class="col-width-percent-4">نرخ تسعیر</th>
                                <th class="col-width-percent-7" id="payAmountThead">خالص</th>
                                <th class="col-width-percent-9" id="userFullName">کاربر ثبت کننده</th>
                                <th class="col-width-percent-8" id="createDate">تاریخ ثبت</th>
                            </tr>
                            </thead>
                            <tbody id="tempCashDisplay">
                            <tr id="emptyRow">
                                <td colspan="11" class="text-center">سطری وجود ندارد</td>
                            </tr>
                            </tbody>
                            <tbody id="sumRowCashDisplay">
                            <tr>
                                <td colspan="8" class="text-left">جمع</td>
                                <td style="background-color:#c6c6c6;font-weight:bold" id="sumPayAmountCashAdmDisplay">0</td>
                                <td colspan="2"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </fieldset>
            </div>
        </div>
    </fieldset>

    @await Html.PartialAsync("/Modules/MC/AdmissionCash/AdmissionPaymentForm.cshtml")
    @await Html.PartialAsync("/Modules/MC/AdmissionCash/CashSummeryUser.cshtml")
</div>
</div>
<div class="step-footer dir-rtl text-left pl-4">
    <button data-step-action="prev" class="step-btn" id="prevbutton">قبلی</button>
    <button data-step-action="next" class="step-btn" id="nextbutton">بعدی</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div id="reserveModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog pt-0 modal-size-xlg">
        <div class="modal-content">

            @await Html.PartialAsync("/Modules/MC/Admission/GetAttenderReserve.cshtml")
        </div>
    </div>
</div>

@await Html.PartialAsync("/Modules/SearchPatientModal.cshtml")

@await Html.PartialAsync("/Modules/SearchPatientInsurerModal.cshtml")

<div id="patientInsuranceModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="col-sm-6 text-right">
                    <h5 class="modal-title mt-0" id="modal_title">جستجو</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right">
                <div class="">
                    <div class="table-responsive table-responsive-thead-fixed">
                        <table class="table table-styles border mb-0" id="insurancePagetable">
                            <thead class="table-thead-fixed">
                            <tr>
                                <th class="col-width-percent-10">شناسه بیمه</th>
                                <th class="col-width-percent-10">شناسه صندوق بیمه</th>
                                <th class="col-width-percent-10">نام بیمه</th>
                                <th class="col-width-percent-10">شماره بیمه</th>
                                <th class="col-width-percent-15">تاریخ انقضاء</th>
                                <th class="col-width-percent-13">انتخاب</th>
                            </tr>
                            </thead>
                            <tbody id="tempInsurances">
                            <tr>
                                <td colspan="7" class="text-center">سطری وجود ندارد</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-close" onclick="modalClosePatientInsurance('patientInsuranceModal')" class="btn btn-secondary waves-effect" title="eSC"><i class="fa fa-times-circle"></i>بستن</button>
            </div>
        </div>
    </div>
</div>

<div id="printAdmissionModal" class="modal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog pt-0 modal-size-sm">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="col-sm-6 text-right">
                    <h5 class="modal-title mt-0" id="modal_title">انتخاب چاپ</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="button-items text-center">
                    <button id="separationPrint" type="button" onclick="printAdmission('Prn_Admission.mrt')" class="btn blue_1 waves-effect"><i class="fa fa-print"></i>تفکیک</button>
                    <button id="aggregationPrint" type="button" onclick="printAdmission('Prn_AdmissionCompress.mrt')" class="btn blue_2 waves-effect"><i class="fa fa-print"></i>تجمیع</button>
                    <button id="doublePrint" type="button" onclick="printAdmission('Prn_AdmissionDouble.mrt')" class="btn blue_3 waves-effect"><i class="fa fa-print"></i>دو نسخه ای</button>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-close" onclick="modal_close('printAdmissionModal')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>بستن</button>
            </div>
        </div>
    </div>
</div>

<div id="PrnAdmission" class="modal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-xs">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-2" id="modal_title">چاپ</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate style="padding:0;">
                <div class="PrnModalId" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption">شناسه : </lable> <span id="modal_keyid_value">0</span>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding:0;">
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType1" onclick="separationprint()" class="btn btn-default" style="font-weight:bolder;">چاپ تفکیک<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 1 )</sub></a>
                    </div>
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType2" onclick="aggregationprint()" class="btn btn-default" style="font-weight:bolder;">چاپ تجمیع<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 2 )</sub></a>
                    </div>
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType3" onclick="doubleprint()" class="btn btn-default" style="font-weight:bolder;">چاپ دو نسخه ای<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 3 )</sub></a>
                    </div>
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType4" onclick="cashstandprint()" class="btn btn-default" style="font-weight:bolder;">چاپ کیوسک<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 4 )</sub></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:0;">
                <button id="modal-close" onclick="modal_close('PrnAdmission')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<div id="PrnAdmissionItem" class="modal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-xs">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-2" id="modal_title">چاپ</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate style="padding:0;">
                <div class="PrnModalId" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption">شناسه : </lable> <span id="modal_keyid_valueItem">0</span>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding:0;">
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType1" onclick="saleseparationprint()" class="btn btn-default" style="font-weight:bolder;">چاپ تفکیک<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 1 )</sub></a>
                    </div>
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType4" onclick="cashstandprint()" class="btn btn-default" style="font-weight:bolder;">چاپ کیوسک<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 4 )</sub></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:0;">
                <button id="modal-close" onclick="modal_close('PrnAdmissionItem')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Modules/MC/AdmissionServiceTamin/PrescriptionInfoModal.cshtml")

@await Html.PartialAsync("/Modules/MC/AdmissionMaster/AdmissionMasterDisplay.cshtml")

<script src="~/plugins/barcode/jquery-barcode.min.js"></script>
<script src="~/plugins/NextPrevious/np1/jquery-steps.js"></script>
<div id="addQuickAccessModal"></div>
<script src="/js/formplate.js"></script>
<script src="/js/formplate1.js"></script>
<script src="~/js/MangeSteps.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/js/admission.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/js/AdmissionWebService.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="/Modules/MC/AdmissionCash/AdmissionPaymentForm.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="/Modules/MC/AdmissionServiceTamin/NewAdmissionServiceTaminForm.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="/Modules/MC/AdmissionServiceTamin/taminError.json"></script>