@{
    ViewBag.Title = "موضوع دریافت / پرداخت";
}


@await Html.PartialAsync("/Modules/NewFormPlate1V1.cshtml")


<!--Modal-->
<div id="AddEditModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" id="treasurySubjectForm" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption">شناسه :</lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label>موضوع</label>
                        <div>
                            <input id="name" type="text" class="form-control" title="" required tabindex="1"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>طبقه بندی گردش وجوه</label>
                        <div>
                            <select id="cashFlowCategoryId" type="text" class="form-control" title="" required data-parsley-selectvalzero tabindex="2">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label> وضعیت</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActive');" tabindex="3">
                            <input id="isActive" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>مرحله</label>
                        <div class="row list-max-height" id="fillStageItem" style="padding:0 20px">
                            @*<div class="col-sm-6 pr-0">
                                    <label>
                                        <input id="s1" data-value="1" type="checkbox" onchange="arrayChecked(this)" />
                                        درخواست پرداخت وجه
                                    </label>
                                </div>
                                <div class="col-sm-6 pr-0">
                                    <label>
                                        <input id="s1" data-value="1" type="checkbox" onchange="arrayChecked(this)" />
                                        درخواست انتقال بین منابع
                                    </label>
                                </div>
                                <div class="col-sm-6 pr-0">
                                    <label>
                                        <input id="s1" data-value="1" type="checkbox" onchange="arrayChecked(this)" />
                                        دریافت وجوه
                                    </label>
                                </div>*@
                        </div>
                        <div id="fillStageItemContainer"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="treasurySubjectSave();" class="btn btn-success waves-effect waves-light" tabindex="4" title="Ctrl + S"><i class="fa fa-check-circle"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close()" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Modules/FM/TreasurySubject/TreasurySubjectIndex.js"></script>