.slash-beetwin-header {
    padding: 0 5px 0 10px;
    max-width: 1px;
    color: #848484 !important;
}

.header-form-box {
    align-items: flex-end;
}

.header-form-text {
    font-size: 16px;
    color: #555;
    font-weight: 500;
}
