@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: normal;
    src: url('/Content/fonts/eot/IRANSansXFaNum-Regular.eot');
    src: url('/Content/fonts/eot/IRANSansXFaNum-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/Content/fonts/woff2/IRANSansXFaNum-Regular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/Content/fonts/woff/IRANSansXFaNum-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/Content/fonts/ttf/IRANSansXFaNum-Regular.ttf') format('truetype');
}


body {
    font-family: iransans !important;
}


@media print{
    body{
        color:red;
        font-family:iransans;
        background-color:black;
    }
}