.modal-body button.btn-primary, .modal-body button.btn-danger {
    margin-bottom:10px;
}
.hummingbird-treeview {
    border-top: 1px solid #dee2e6;
}
.hummingbird-treeview,
.hummingbird-treeview * {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
}

.hummingbird-treeview label {
    font-weight: normal;
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.hummingbird-treeview input[type=checkbox] {
    width: 14px;
    height: 14px;
    padding: 0px;
    margin: 0px;
}
.hummingbird-treeview ul{
    padding-right:13px;
    margin-bottom: 0;
}
.hummingbird-treeview ul li span{
    margin-right:5px;
    font-size: 13px;
    font-weight:600;
}
.hummingbird-treeview ul:not(.hummingbird-base) {
    display: none;
}

.hummingbird-treeview .fa {
    font-style: normal;
    cursor: pointer;
    font-size:13px;
}

.hummingbird-treeview .fas {
    font-style: normal;
    cursor: pointer;
}

.hummingbird-base {
    white-space:nowrap;
}

