@font-face {
    font-family: 'MyIcon';
    src: url('../webfonts/myicon.eot');
    src: url('../webfonts/myicon.eot') format('embedded-opentype'), 
         url('../webfonts/myicon.ttf') format('truetype'),
         url('../webfonts/myicon.woff') format('woff'),
         url('../webfonts/myicon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'MyIcon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit-dollor:before {
    content: "\e900";
}

.icon-report:before {
    content: "\e901";
}