<div id="roleBranchPermissionModal" class="modal fade bs-example-modal-lg col-width-percent-85" data-keyboard="false" tabindex="-1" aria-labelledby="modal_title" role="dialog" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-sm pt-0">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0">دسترسی شعب</h5>
                </div>
            </div>

            <div class="card-body">
                <div class="modal-body text-right " style="overflow-y:scroll !important;overflow-x:auto!important;height:180px;">

                    <fieldset class="group-box group-box-blue mb-3" style="height:auto">
                        <legend> شعبه </legend>
                        <div class="table-responsive " style=" height: 100px; min-height: 100px; resize: vertical;">
                            <table class="table table-styles border mb-0" style="overflow:auto" id="tbBranch">
                                <thead class="table-thead-fixed">
                                <tr>
                                    <th class="col-width-percent-1 text-center">
                                        <input id="getBranchValAll" onchange="getBranchValAll(this,'tbBranch')" type="checkbox" autocomplete="off">
                                    </th>
                                    <th class="col-width-percent-2">شناسه</th>
                                    <th class="col-width-percent-12">نام</th>
                                </tr>
                                </thead>
                                <tbody id="tbBranchGet">
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="saveBranchPermission();" class="btn btn-success waves-effect waves-light" tabindex="30" title="Ctrl + S"><i class="fa fa-save"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close('roleBranchPermissionModal')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Modules/GN/RoleBranchPermission/RoleBranchPermissionIndex.js"></script>