<div class="doctor-info text-right d-flex">
    <p class="d-inline-block pl-2 m-1 border-left font-12">خدمت : <span class="serviceTitle"></span></p>
    <p class="d-inline-block pl-2 m-1 font-12">تعرفه مرکز : <span class="servicePrice"></span></p>
    <p class="d-inline-block pl-2 m-1 font-12">تعرفه گردشگری : <span class="servicePriceIPD"></span></p>
</div>