## Build results
bin/
obj/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## VS Code
.vscode/

## Visual Studio
.vs/

## Rider / JetBrains
.idea/
*.sln.iml

## Logs
*.log

## OS files
.DS_Store
Thumbs.db

## Environment
.env
