<div id="AddEditModalEm" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-lg">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption"></lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>گروه پرسنل</label>
                        <div>
                            <select id="personGroupId" class="form-control select2" tabindex="1" requirerd data-parsley-selectvalzero onchange="checkEmployeeInput()" data-parsley-errors-container="#personGroupIdVeErrorContainer">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div id="personGroupIdVeErrorContainer"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>نام</label>
                        <div>
                            <input id="firstNameEm" type="text" class="form-control atoz-valid" title="" oninput="checkEmployeeInput()" required maxlength="50" tabindex="2"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label> تخلص</label>
                        <div>
                            <input id="lastNameEm" type="text" class="form-control atoz-valid" title="" oninput="checkEmployeeInput()" required maxlength="50" tabindex="3"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>نمبر تذکره</label>
                        <div>
                            <input id="nationalCodeEm" type="text" class="form-control str-number" required oninput="checkEmployeeInput()" title="" maxlength="10" data-parsley-nationalcode tabindex="4" data-parsley-existnationalcodeem=""/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>جنسیت</label>
                        <div>
                            <select id="genderIdEm" class="form-control" title="" required oninput="checkEmployeeInput()" tabindex="5">
                                <option selected value="1">مرد</option>
                                <option value="2">زن</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>وضعیت تاهل</label>
                        <div>
                            <select id="maritalStatusIdEm" data-parsley-selectvalzero class="form-control" title="" tabindex="6">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>نام پدر</label>
                        <div>
                            <input id="fatherFirstNameEm" type="text" class="form-control atoz-valid" title="" oninput="checkEmployeeInput()" required maxlength="50" tabindex="7"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>تاریخ تولد</label>
                        <div>
                            <input id="idDatePersianEm" type="text" class="form-control persian-date" placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" data-parsley-shamsidate data-parsley-errors-container="#dateToErrorContainer" title="" tabindex="8"/>
                            <div id="dateToErrorContainer"></div>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>ملیت</label>
                        <div>
                            <select id="locCountryIdEm" class="form-control select2" required oninput="checkEmployeeInput()" title="" tabindex="9" data-parsley-errors-container="#locCountryIdEmError">
                            </select>
                        </div>
                        <div id="locCountryIdEmError"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>ولایت</label>
                        <div>
                            <select id="locStateIdEm" class="form-control  select2" tabindex="10" oninput="checkEmployeeInput()" data-parsley-errors-container="#locStateIdEmError">
                            </select>
                        </div>
                        <div id="locStateIdEmError"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>شهر </label>
                        <div>
                            <select id="locCityIdEm" class="form-control select2" tabindex="11" oninput="checkEmployeeInput()" data-parsley-errors-container="#locCityIdEmError">
                            </select>
                        </div>
                        <div id="locCityIdEmError"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>نمبر خانه (Postal Code)</label>
                        <div>
                            <input id="postalCodeEm" type="text" class="form-control str-number" title="" maxlength="10" data-parsley-postalcode="" tabindex="12"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>تلفن منزل</label>
                        <div>
                            <input id="phoneNoEm" type="text" class="form-control str-number" data-parsley-phoneno data-parsley-errors-container="#phoneNoEmCodeError" title="" maxlength="11" tabindex="13"/>
                        </div>
                        <div id="phoneNoEmCodeError"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>شماره موبایل</label>
                        <div>
                            <input id="mobileNoEm" type="text" class="form-control str-number" data-parsley-mobileno data-parsley-errors-container="#pmobileNoEmCodeError" title="" maxlength="11" tabindex="14"/>
                        </div>
                        <div id="pmobileNoEmCodeError"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>ایمیل</label>
                        <div>
                            <input id="emailEm" type="text" class="form-control" title="" maxlength="50" data-parsley-email tabindex="15"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>بیمه گر</label>
                        <div class="col-sm-12 chosen-container-parent">
                            <select id="insurerIdEm" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="16" data-parsley-rqinsur=""
                                    data-parsley-errors-container="#InsurerIdEmErrorContainer">
                                <option value="0" selected>انتخاب کنید</option>
                            </select>
                        </div>
                        <div id="InsurerIdEmErrorContainer"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>شماره بیمه</label>
                        <div class="col-sm-12 chosen-container-parent">
                            <input id="insurNoEm" type="text" class="form-control str-number"
                                   title="" maxlength="100"
                                   data-parsley-errors-container="#insurerNoEmErrorContainer"
                                   tabindex="17"/>
                        </div>
                        <div id="insurerNoEmErrorContainer"></div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label> وضعیت</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActiveEm');" tabindex="18">
                            <input id="isActiveEm" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                        </div>
                    </div>

                    <div class="form-group col-sm-8">
                        <label>آدرس منزل</label>
                        <div>
                            <input id="addressEm" type="text" class="form-control " title="" maxlength="100" tabindex="19"/>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="modal_save('AddEditModalEm')" class="btn btn-success waves-effect waves-light" tabindex="20" title="Ctrl + S"><i class="fa fa-save"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close('AddEditModalEm')" class="btn btn-secondary waves-effect" data-dismiss="modal" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>


<script src="/Modules/HR/Employee/EmployeeAddEdit.js"></script>