<div class="tab-pane p-3" id="diagBox" role="tabpanel">
    <div id="diagForm" class="row tabToggle14" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempdiagnosisList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>وضعیت تشخیص</th>
                    <th>تشخیص</th>
                    <th>میزان شدت بیماری </th>
                    <th>تاریخ و زمان تشخیص </th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="tempDiag">
                <tr id="emptyRow">
                    <td colspan="5" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>