@import "../_variables.scss";
@import "dashboard.css";
/*----- General -----*/
.card {
    min-height: 220px;
}
/*----- Calendar -----*/

.calendar_home {
    float: left;
    width: 100%;
    min-height: 17em;
    padding: 17px 10px;
    text-align: center;

    .month {
        color: #02c58d;
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 16px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .weekday {
        float: right;
        width: 12%;
        margin: 0.25em 1%;
        line-height: 1.5em;
        color: #e42355;
        font-weight: 700;
        font-size: 14px;
    }

    .day {
        float: right;
        width: 12%;
        margin: 0.25em 1%;
        line-height: 18px;
        font-size: 16px;
        font-weight: 700;
        color: #555555;

        .now {
            color: #e42355;
        }
    }

    .now {
        position: relative;
        color: #e42355;

        &:before {
            content: "";
            width: 1.75em;
            height: 1.75em;
            border: 0.2em solid #e42355;
            position: absolute;
            border-radius: 100%;
            left: -1px;
            top: -0.29em;
        }
    }

    .mute {
        color: rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width: 1900px) {
    .calendar .day {
        font-size: 16px;
    }

    .calendar .now::before {
        left: 18%;
    }
}


/*----- Weather -----*/
.forecast-header {
    padding: 10px 0;
    text-align: center;
    font-weight: 400;

    .day {
        text-align: right;
    }
}

.forecast-content {
    padding: 5px;
    font-size: 12px;

    .location {
        width: 33.3%;

        p {
            font-size: 12px;
            font-weight: 400;
            margin: 0;
            text-align: center;
            line-height: 17px;

            &:first-child {
                font-size: 14px;
                font-weight: 600;
                margin-top: 5px;
            }
        }
    }

    .forecast-icon {
        width: 33.3%;
        text-align: center;

        img {
            margin-top: 2%;
        }
    }

    .degree {
        color: #30419b;
        font-weight: 600;
        margin-top: 5px;
        text-align: center;
        line-height: 20px;
        width: 33.3%;

        .num {
            font-size: 20px;
            text-align: center;
            margin-top: 5px;
        }

        p {
            font-size: 12px;
            font-weight: 300;
            margin: 0;
        }
    }
}

.forecast-footer {
    margin-top: 30px;
    font-size: 14px;
}

.tooltip {
    font-size: 12px;
    font-weight: normal;
}

.ti-arrow-up:before {
    font-family: 'themify';
}

.ti-arrow-down:before {
    font-family: 'themify';
}
/*----- Kpi -----*/
.panel {
    background: #fff;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

    .panel-icon {
        flex-basis: 40%;
        padding: 25px 15px;

        i {
            font-size: 50px;
            color: #fff;
        }
    }

    .panel-body {
        flex-basis: 60%;

        h5 {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        p {
            font-size: 16px;
            margin-bottom: 0
        }
    }

    .green {
        background: #39B27C;
    }

    .blue {
        background: #1a7bb9;
    }

    .yellow {
        background: #f8d347;
    }
}

