<link href="~/plugins/search-modal/search-modal.css" rel="stylesheet"/>
<!--Modal-->
<div id="searchModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" style="z-index: 9999;" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0">فرم جستجو</h5>
                </div>
            </div>
            <div class="modal-body" id="modalSearchbody">
                <div class="col-md-12">
                    <div class="row">
                        <div class="btn-group float-right mb-2">
                            <button id="btnSearchFilter" type="button" class="btn btn-default btnfilter btnSearchFilter" data-id="" data-type="8" data-size="0" data-toggle="dropdown">
                                مورد فیلتر
                            </button>
                            <button type="button" id="searchOpenFilter" class="btn btn-secondary dropdown-toggle dropdown-toggle-split btnOpenFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <button type="button" id="searchRemoveFilter" class="btn btn-secondary remove-filter d-none btnRemoveFilter"></button>
                            <div class="dropdown-menu min-width-140">
                                <div id="filterItms">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-0 float-right mb-2 app-search app-search-modalS">
                            <input id="searchFilterValue" type="text" class="form-control filtervalue searchFilterValue" title="" placeholder="عبارت فیلتر">
                            <a id="searchFilterBtn">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="searchTable" class="table-responsive" style="max-width:100%;max-height: 450px;">
                    <table class="table table-styles border mb-0" style="width: 100% !important; overflow: auto;">
                        <thead class="table-thead-fixed">
                        <tr id="searchHeader">
                        </tr>
                        </thead>
                        <tbody id="SearchList" data-parsley-validate>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="rowCountBox" class="btn btn-primary waves-effect"><i class="fa fa-info-circle"></i>تعداد سطر : <span id="rowCountResult">0</span></button>
                <button id="modal-close" onclick="modal_close('searchModal')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<script src="~/plugins/search-modal/search-modal.js"></script>