<link href="~/Content/css/editable-treeview.css" rel="stylesheet"/>
<div id="treev1">
    @*<ul id="tree1">
            <li>
                <span>شاخه اصلی</span>
                <ul>
                    <li>
                        <span class="nodeTxt">فرزند اول</span>
                        <ul>
                            <li>
                                <span>نوه اول</span>
                            </li>
                            <li>
                                <span>نوه دوم</span>
                                <ul>
                                    <li>
                                        <span>نبیره اول</span>
                                        <ul>
                                            <li><span>نتیجه اول</span></li>
                                            <li><span>نتیجه دوم</span></li>
                                            <li><span>نتیجه سوم</span></li>
                                        </ul>
                                    </li>
                                    <li><span>نبیره دوم</span></li>
                                </ul>
                            </li>
                            <li><span>نوه سوم</span></li>
                        </ul>
                    </li>
                    <li>
                        <span id="nodeTxt" href="#">فرزند دوم</span>
                        <ul>
                            <li><span>نوه اول</span></li>
                            <li>
                                <span>نوه دوم</span>
                                <ul>
                                    <li>
                                        <span>نبیره اول</span>
                                        <ul>
                                            <li><span>نتیجه اول</span></li>
                                            <li><span>نتیجه دوم</span></li>
                                            <li><span>نتیجه سوم</span></li>
                                        </ul>
                                    </li>
                                    <li><span>نبیره دوم</span></li>
                                </ul>
                            </li>
                            <li><span>نوه سوم</span></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>*@
</div>
<script src="~/js/formplate.js"></script>
<script src="~/lib/treeview/treeview.js"></script>
<script src="~/lib/treeview/editable-treeview.js"></script>