@{
    ViewBag.Title = "گزارش نسخه نویسی";
}

<div class="content-page  displaynone" id="content-page">
<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card m-b-30 m-t-15">
<div class="header-title d-flex">
    <span>@ViewBag.Title</span>
    <div class="button-items">
        <button id="getReport" class="btn green_2 waves-effect waves-light"><i class="fas fa-sticky-note ml-1"></i>پیش نمایش</button>
        <button id="showReport" type="button" class="btn btn-warning"><i class="fas fa-file-import ml-1"></i>تهیه گزارش</button>
        @await Html.PartialAsync("/Modules/_Report/_SettingReport.cshtml")
        <button type="button" id="exportCSV" onclick="export_AdmissionCashReport_csv()" class="btn btn-excel waves-effect"><i class="fa fa-file-excel"></i>اکسل</button>
    </div>
</div>

<div class="card-body" id="PrescriptionReport" data-parsley-validate>
<ul class="nav nav-pills nav-justified" role="tablist">
    <li class="nav-item waves-effect waves-light" onclick="focusInput(1)">
        <a class="nav-link active" data-toggle="tab" href="#patientBox" role="tab">
            <span class="d-none d-md-block">مراجعه کننده</span><span class="d-block"></span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(2)">
        <a class="nav-link" data-toggle="tab" href="#attenderBox" role="tab">
            <span class="d-none d-md-block">طبیب</span><span class="d-block"></span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(3)">
        <a class="nav-link" data-toggle="tab" href="#drogBox" role="tab">
            <span class="d-none d-md-block">دارو</span><span class="d-block"></span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(4)">
        <a class="nav-link" data-toggle="tab" href="#imageBox" role="tab">
            <span class="d-none d-md-block">تصویر برداری</span><span class="d-block"></span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(5)">
        <a class="nav-link" data-toggle="tab" href="#labBox" role="tab">
            <span class="d-none d-md-block">آزمایشگاه</span><span class="d-block"></span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(6)">
        <a class="nav-link" data-toggle="tab" href="#diagBox" role="tab">
            <span class="d-none d-md-block">تشخیص</span><span class="d-block"></span>
        </a>
    </li>
</ul>

<div class="tab-content group-box group-box-gray">
<div class="tab-pane active p-3" id="patientBox" role="tabpanel">
    <div class="row tabToggle1">
        <div class="form-group col-lg-3 col-sm-4 ">
            <label>تاریخ</label>
            <div class="double-input-box">
                <div class="double-input">
                    <input type="text" id="fromDatePersian" class="form-control number persian-date persian-datepicker" data-parsley-validate-if-empty="true" placeholder="____/__/__" value="@CIS.Imports.ConvertDate.ToPersianDateString(DateTime.Now, "{0}/{1}/{2}")" data-inputmask="'mask':'9999/99/99'" data-parsley-validate-if-empty="true" data-parsley-shamsidateservice data-parsley-chekdoubledate required data-parsley-errors-container="#fromDateErrorContainer" data-parsley-comparedate="toDatePersian" data-parsley-dateisonemonth="toDatePersian" maxlength="10" tabindex="1"/>
                </div>
                <div class="double-input">
                    <input type="text" id="toDatePersian" class="form-control number persian-date persian-datepicker" data-parsley-validate-if-empty="true" placeholder="____/__/__" value="@CIS.Imports.ConvertDate.ToPersianDateString(DateTime.Now, "{0}/{1}/{2}")" data-inputmask="'mask':'9999/99/99'" data-parsley-shamsidateservice required data-parsley-errors-container="#toDateErrorContainer" maxlength="10" tabindex="2"/>
                </div>
            </div>
            <div class="double-input-box">
                <div class="double-input" id="fromDateErrorContainer"></div>
                <div class="double-input" id="toDateErrorContainer"></div>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4 mb-0">
            <label>مراجعه کننده</label>
            <div>
                <select id="patientId" class="form-control select2" tabindex="3">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 mb-0">
            <div class="form-group">
                <label>بیمه اجباری</label>
                <div>
                    <select id="basicInsurerId" class="form-control select2" tabindex="4"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 mb-0">
            <div class="form-group">
                <label>صندوق بیمه</label>
                <div>
                    <select id="basicInsuranceBoxId" class="form-control select2" tabindex="5">
                        <option value="0">انتخاب کنید</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 mb-0">
            <div class="form-group">
                <label>بیمه تکمیلی</label>
                <div>
                    <select id="compInsuranceBoxId" class="form-control select2" tabindex="6"></select>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-sm-4 mb-0">
            <div class="form-group">
                <label>طرف قرارداد</label>
                <div>
                    <select id="thirdPartyId" class="form-control select2" tabindex="7"></select>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3 mb-0">
            <label>وضعیت شباد</label>
            <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'shabadStatus');" tabindex="8">
                <input id="shabadStatus" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="انلاین,افلاین"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4 mb-0">
            <label>کاربر ثبت کننده</label>
            <div>
                <select id="userId" class="form-control select2" tabindex="9">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane p-3" id="attenderBox" role="tabpanel">
    <div class="row tabToggle2">
        <div class="col-lg-2 col-sm-4 mb-0">
            <div class="form-group">
                <label>طبیب</label>
                <div>
                    <select id="attenderId" class="form-control select2" tabindex="20"></select>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4 mb-0">
            <label>دپارتمان</label>
            <div>
                <select id="serviceCenterId" class="form-control select2" tabindex="21"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4 mb-0">
            <label>تخصص</label>
            <div>
                <select id="specialityId" class="form-control select2" tabindex="22"></select>
            </div>
        </div>

    </div>
</div>
<div class="tab-pane p-3" id="drogBox" role="tabpanel">
    <div class="row tabToggle3">
        <div class="form-group col-lg-3 col-sm-4">
            <label>دارو</label>
            <div>
                <select id="productId" class="form-control select2" tabindex="30" required data-parsley-errors-container="#productIdContainer"></select>
            </div>
            <div id="productIdContainer"></div>
        </div>
        <div class="form-group col-lg-1 col-sm-2">
            <label>تعداد</label>
            <input id="totalNumber" type="text" class="form-control number" maxlength="10" tabindex="31" required data-parsley-min="1" data-parsley-max="32565"/>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>واحد</label>
            <div>
                <select id="totalNumberUnitId" class="form-control select2" tabindex="32" required data-parsley-selectvalzero data-parsley-errors-container="#totalNumberUnitIdContainer">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
            <div id="totalNumberUnitIdContainer"></div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>تواتر مصرف</label>
            <div>
                <select id="frequencyId" class="form-control select2" required data-parsley-selectvalzero tabindex="33" data-parsley-errors-container="#frequencyIdContainer">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
            <div id="frequencyIdContainer"></div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>طریقه مصرف</label>
            <div>
                <select id="routeId" class="form-control select2" tabindex="34" required data-parsley-selectvalzero data-parsley-errors-container="#routeIdContainer">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
            <div id="routeIdContainer"></div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>دارو ترکیبی</label>
            <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isCompounded');" tabindex="35">
                <input id="isCompounded" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="دارد,ندارد"/>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane p-3" id="imageBox" role="tabpanel">
    <div class="row tabToggle4">
        <div class="form-group col-lg-3 col-sm-4">
            <label>خدمت</label>
            <div>
                <select id="imageServiceId" class="form-control select2" tabindex="40" required data-parsley-errors-container="#imageServiceIdContainer"></select>
            </div>
            <div id="imageServiceIdContainer"></div>
        </div>
        <div class="form-group col-lg-5 col-sm-5">
            <label>دستورعمل</label>
            <input id="patientInstruction" class="form-control" tabindex="41" maxlength="50" required/>
        </div>
        <div class="form-group col-lg-3 col-sm-3">
            <label>جهت بدن</label>
            <div>
                <select id="lateralityId" class="form-control select2" tabindex="42" required data-parsley-selectvalzero data-parsley-errors-container="#lateralityIdContainer">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
            <div id="lateralityIdContainer"></div>
        </div>
    </div>
</div>
<div class="tab-pane p-3" id="labBox" role="tabpanel">
    <div class="row tabToggle5">
        <div class="form-group col-lg-3 col-sm-4">
            <label>خدمت</label>
            <div>
                <select id="labServiceId" class="form-control select2" tabindex="50" required data-parsley-errors-container="#labServiceIdContainer"></select>
            </div>
            <div id="labServiceIdContainer"></div>
        </div>
        <div class="form-group col-lg-3 col-sm-4">
            <label>دلیل تجویز</label>
            <div>
                <select id="labReasonId" class="form-control select2" tabindex="51" required data-parsley-selectvalzero data-parsley-errors-container="#labReasonIdContainer">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
            <div id="labReasonIdContainer"></div>
        </div>

    </div>
</div>
<div class="tab-pane p-3" id="diagBox" role="tabpanel">
    <div class="row tabToggle6">
        <div class="form-group col-lg-2 col-sm-4">
            <label>وضعیت تشخیص</label>
            <div>
                <select id="statusId" class="form-control select2" tabindex="60" required data-parsley-errors-container="#statusIdContainer"></select>
            </div>
            <div id="statusIdContainer"></div>
        </div>
        <div class="form-group col-lg-4 col-sm-4">
            <label>تشخیص</label>
            <div>
                <select id="diagnosisResonId" class="form-control select2" tabindex="61" required data-parsley-errors-container="#diagnosisResonIdContainer"></select>
            </div>
            <div id="diagnosisResonIdContainer"></div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>میزان شدت بیماری</label>
            <div>
                <select id="serverityId" class="form-control select2" tabindex="51" required data-parsley-errors-container="#serverityIdContainer"></select>
            </div>
            <div id="serverityIdContainer"></div>
        </div>

    </div>
</div>
</div>

<fieldset class="group-box group-box-gray mt-3">
    <legend>پیش نمایش</legend>
    <div class="pagetable-report" id="mainReport">
        @await Html.PartialAsync("/Modules/PageTableReport.cshtml")
    </div>
</fieldset>

</div>
</div>
</div>
</div>
</div> <!-- end col -->
</div>
</div>


<!--Modal-->
<div id="previewReportModal" class="modal fade" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">تهیه گزارش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="col-lg-12 col-sm-12 pr-0">
                    <div class="form-group">
                        <label>شکل گزارش</label>
                        <select class="form-control" id="reportType" tabindex="20">
                            <option value="101" selected>گزارش دارو</option>
                            <option value="102">گزارش تصویر برداری</option>
                            <option value="103">گزارش آزمایشگاه</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-previewReport" class="btn btn-success waves-effect waves-light" tabindex="21"><i class="fa fa-save"></i>تهیه گزارش</button>
                <button id="modal-close" onclick="modal_closePreviewRepor('previewReportModal')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<script type="text/javascript" src="/Modules/MC/ReportPrescription/RepPrescriptionForm.js"></script>