<div class="modal-body text-right p-0 col-12">
    <div class="card-body " id="attenderTimesheetLineAssign_pagetable">

        @await Html.PartialAsync("/Modules/NewPageTableV1.cshtml")
    </div>
</div>


<script src="~/Modules/MC/AttenderTimeSheetMedicalShift/AttenderTimeSheetMedicalShiftIndex.js"></script>