@{
    ViewBag.Title = "حساب‌های بانکی";
}

@await Html.PartialAsync("/Modules/NewFormPlate1V1.cshtml")


<!--Modal-->
<div id="AddEditModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption"></lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>بانک</label>
                        <div>
                            <select id="bankId" type="text" class="form-control select2" title="" required data-parsley-selectvalzero data-parsley-errors-container="#bankIdError" tabindex="1">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div id="bankIdError">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>نام</label>
                        <div>
                            <input id="name" type="text" class="form-control atoz-valid" title="" required tabindex="2">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>دسته‌بندی حساب</label>
                        <div>
                            <select id="bankAccountCategoryId" type="text" class="form-control" title="" required tabindex="3">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>کد شعبه</label>
                        <div>
                            <input id="branchNo" type="text" class="form-control number" title="" required tabindex="4">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>نام شعبه</label>
                        <div>
                            <input id="branchName" type="text" class="form-control atoz-valid" title="" tabindex="5" required>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>شماره حساب</label>
                        <div>
                            <input id="accountNo" type="text" class="form-control" title="" tabindex="6" required data-parsley-accontno maxlength="20">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <lablel>شماره شبا</lablel>
                        <input id="shebaNo" type="text" class="form-control shabano" title="" tabindex="7" data-parsley-shebano data-inputmask="'mask':'IR-9999-9999-9999-9999-9999-9999'"/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>کشور</label>
                        <div>
                            <select id="locCountryId" class="form-control" required tabindex="8">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>ولایت</label>
                        <div>
                            <select id="locStateId" class="form-control" required data-parsley-selectvalzero data-parsley-errors-container="#stateIdError" tabindex="9">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div id="stateIdError"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>شهر</label>
                        <div>
                            <select id="locCityId" class="form-control" required data-parsley-errors-container="#cityIdError" tabindex="10">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                        <div id="cityIdError"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label> وضعیت</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActive');" tabindex="11">
                            <input id="isActive" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>آدرس</label>
                        <div>
                            <input id="address" type="text" class="form-control" required title="" tabindex="12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="modal_save();" class="btn btn-success waves-effect waves-light" tabindex="13" title="Ctrl + S"><i class="fa fa-check-circle"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close()" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script src="/Modules/FM/getJsonDataAsync.js"></script>
<script src="/Modules/FM/Finanace.js"></script>
<script src="/Modules/FM/BankAccount/BankAccountIndex.js"></script>