<div id="prnAdmissionMaster" class="modal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-xs">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-2" id="modal_title">چاپ</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate style="padding:0;">
                <div class="PrnModalId" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption">شناسه : </lable> <span id="modal_keyid_value">0</span>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding:0;">
                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType1" onclick="admissionMasterBillPatientPrint()" class="btn btn-default" style="font-weight:bolder;">چاپ صورتحساب<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 1 )</sub></a>
                    </div>

                    <div class="input-group col-12 PrnModalDiv">
                        <i class="fa fa-print fa-modal-print"></i>
                        <a id="PrntType2" onclick="admissionMasterBillPatientstandprint()" class="btn btn-default" style="font-weight:bolder;">چاپ کیوسک<sub class="text-gray mr-2 font-11 color-navy">( Ctrl + 4 )</sub></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border:0;">
                <button id="modal-close" onclick="modal_close('prnAdmissionMaster')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Modules/MC/AdmissionMaster/AdmissionMasterPrintIndex.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>