@using System.Security.Claims
@{
    ViewBag.Title = "اسناد خزانه";
}
<link href="~/plugins/SuggestBox/SuggestBox.css" rel="stylesheet"/>

<div class="content-page displaynone" id="content-page" style="height:auto">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="header-title">
                            <div class="button-items col-md-12">
                                <span class="float-right">@ViewBag.Title</span>

                                <div id="quickSearchContainer" style="display: contents"></div>
                                <input id="userType" type="checkbox" checked data-toggle="toggle" data-on="ثبت کننده - @User.FindFirstValue("FullName")" data-off="همه ثبت کنندگان" data-onstyle="success" data-offstyle="info" data-width="180" data-height="27">
                                <button type="button" id="exportCSV" onclick="export_csv()" class="btn btn-excel waves-effect"><i class="fa fa-file-excel"></i>اکسل</button>
                                <button type="button" id="addTreasury" class="btn btn-info waves-effect waves-light"><i class="fa fa-plus-circle"></i>افزودن</button>
                            </div>
                        </div>
                        <div class="card-body" id="pagetable">
                            @await Html.PartialAsync("/Modules/NewPageTableV1.cshtml")
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
    </div>
</div>

<script src="~/js/formplate.js"></script>
<script src="~/js/formplate1.js"></script>

<!--Modal-->
@await Html.PartialAsync("/Modules/FM/NewTreasury/NewTreasuryAddEdit.cshtml")

<!--Modela Add Edit Treasury-->


<div id="displayTreasuryLineModel" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-xxxlg" style="height:auto">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="col-sm-6 text-right">
                    <h5 class="modal-title mt-0">نمایش </h5>
                </div>
            </div>
            <div class="modal-body modal-max-height-lg text-right p-0" id="contentdisplayTreasuryLine" data-parsley-validate="">

            </div>
            <div class="modal-footer">
                <button id="modal-close" onclick="modal_close('displayTreasuryLineModel')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>بستن</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Modules/FM/NewTreasury/TreasuryActionIndex.cshtml")


<div id="errorPostingGroupResult" class="modal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-sm">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="">ارسال سند</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-styles border mb-0" id="pagetable">
                            <thead>
                            <tr>
                                <th class="col-width-percent-100">پیغام</th>
                            </tr>
                            </thead>
                            <tbody id="tempPostingGroupError">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="wcfresultmodal-close" onclick="modal_close('errorPostingGroupResult')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Modules/FM/NewTreasury/NewTreasuryIndex.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="/Modules/WF/WorkFlow.js"></script>
<script src="~/Modules/FM/Finanace.js?ver=@Guid.NewGuid().ToString().Replace("-", "")" type="text/javascript"></script>
<script src="~/Modules/FM/TreasurySearch/TreasuryQuickSearchIndex.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>