@{
    ViewBag.Title = "چک";
}

@await Html.PartialAsync("/Modules/NewFormPlate1V1.cshtml")


<!--Modal-->
<div id="AddEditModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption"></lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>حساب بانکی</label>
                        <div>
                            <select id="bankAccountId" type="text" class="form-control select2" title="" required data-parsley-errors-container="#bankAccountIdError" tabindex="1"></select>
                        </div>
                        <div id="bankAccountIdError"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>سریال چک</label>
                        <div>
                            <input id="bondSerialNo" type="text" class="form-control str-number" maxlength="10" required title="" tabindex="2">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>اولین شماره دسته چک</label>
                        <div>
                            <input id="bondNo" type="text" class="form-control str-number" maxlength="10" required title="" tabindex="3">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>تعداد برگ</label>
                        <div>
                            <input id="bondCountNo" type="text" class="form-control  number" data-parsley-max="100" title="" required tabindex="4">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label> وضعیت</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActive');" tabindex="5">
                            <input id="isActive" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="modal_save();" class="btn btn-success waves-effect waves-light" tabindex="6" title="Ctrl + S"><i class="fa fa-check-circle"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close()" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Modules/FM/TreasuryBond/TreasuryBondIndex.js"></script>