@{
    ViewBag.Title = "گزارش کنترلی بیمه";
}

<div class="content-page  displaynone" id="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30 m-t-15">
                        <div class="header-title d-flex">
                            <span>@ViewBag.Title</span>
                            <div class="button-items">
                                <button id="getReport" class="btn green_2 waves-effect waves-light"><i class="fas fa-sticky-note ml-1"></i>پیش نمایش</button>
                                <button id="showReport" type="button" class="btn btn-warning"><i class="fas fa-file-import ml-1"></i>تهیه گزارش</button>
                                @await Html.PartialAsync("/Modules/_Report/_SettingReport.cshtml")
                                <button type="button" id="exportCSV" onclick="exportd_insurerControl_csv()" class="btn btn-excel waves-effect"><i class="fa fa-file-excel ml-2"></i>اکسل</button>
                            </div>
                        </div>

                        <div class="card-body" data-parsley-validate>
                            <fieldset class="group-box group-box-gray">
                                <button type="button" onclick="plus(this)" class="btn btn-light border-dark plus">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <legend>فیلتر</legend>
                                <div class="slideToggle open">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-6 mb-0">
                                            <div class="form-group">
                                                <label>نوع گزارش</label>
                                                <select data-placeholder="انتخاب کنید" id="type" required class="form-control" tabindex="1" data-parsley-errors-container="#typeErrorContainer">
                                                    <option value="1" selected>بیمه های اجباری فاقد خدمت</option>
                                                    <option value="2">بیمه های تکمیلی فاقد خدمت</option>
                                                    <option value="4">طرف قرار داد های فاقد خدمت</option>
                                                    <option value="5">تخفیف های فاقد خدمت</option>
                                                </select>
                                                <div id="typeErrorContainer"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="group-box group-box-gray mt-3">
                                <legend>پیش نمایش</legend>
                                <div class="pagetable-report" id="mainReport">
                                    @await Html.PartialAsync("/Modules/PageTableReport.cshtml")
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div>
</div>

<script type="text/javascript" src="/Modules/MC/ReportControl/InsurerControlReport.js"></script>