@{
    ViewBag.Title = "دارایی ثابت";
}

@await Html.PartialAsync("/Modules/NewFormPlate1V1.cshtml")
<!--Modal-->
<div id="AddEditModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right over-visible" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption"></lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>نوع دارایی </label>
                        <select id="mainAssetComponent" class="form-control" required tabindex="1">
                            <option value="0">انتخاب کنید</option>
                            <option value="1">دارایی اصلی</option>
                            <option value="2">دارایی الحاقی</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>نام دارایی </label>
                        <div>
                            <input id="name" type="text" class="form-control" maxlength="100" title="" required tabindex="2">
                        </div>
                    </div>
                    <div class="form-group col-sm-6 fixed">
                        <label>کد دارایی ثابت</label>
                        <div>
                            <select id="fixedAssetId" class="form-control select2" tabindex="3">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label>واحد سنجش</label>
                        <div>
                            <select id="unitId" class="form-control select2" tabindex="4">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>دسته بندی دارایی</label>
                        <div>
                            <select id="fixedAssetCategoryId" required class="form-control select2" tabindex="5">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>کد طبقه اصلی دارایی</label>
                        <div>
                            <select id="fixedAssetClassId" class="form-control select2" tabindex="6">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>کد طبقه فرعی دارایی</label>
                        <div>
                            <select id="fixedAssetSubClassId" class="form-control " tabindex="7">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>کد فنی</label>
                        <div>
                            <input id="technicalCode" type="text" class="form-control " maxlength="15" title="" tabindex="8" data-parsley-englishcode>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>روش استهلاک</label>
                        <div>
                            <select id="depreciationMethodId" class="form-control " tabindex="9">
                                <option value="0">انتخاب کنید</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>تاریخ شروع استهلاک</label>
                        <div>
                            <input id="depreciationStartDatePersian" type="text" class="form-control persian-date" placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" data-parsley-shamsidate maxlength="10" tabindex="10"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>تاریخ پایان استهلاک</label>
                        <div>
                            <input id="depreciationEndDatePersian" type="text" class="form-control persian-date" placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" data-parsley-shamsidate maxlength="10" data-parsley-errors-container="#depreciationEndDateErrorContainer" tabindex="11"/>
                            <div id="depreciationEndDateErrorContainer"></div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>در حال تعمیرات</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'underMaintenance');" tabindex="12">
                            <input id="underMaintenance" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="بلی,خیر"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>نوع استهلاک دوره</label>
                        <div>
                            <select id="depreciationPeriodType" class="form-control " tabindex="13">
                                <option value="1">ماه</option>
                                <option value="2">درصد</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 percentage">
                        <label>دوره استهلاک </label>
                        <div>
                            <input id="depreciationPeriod" type="text" class="form-control" title="" tabindex="14">
                        </div>
                    </div>
                    <div class="form-group col-sm-6 goods">
                        <label> محدودیت موجودی منفی</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'negativeInventory');" tabindex="15">
                            <input id="negativeInventory" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="دارد,ندارد"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>محاسبه استهلاک</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'depreciationEnable');" tabindex="16">
                            <input id="depreciationEnable" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="دارد,ندارد"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>مالیات بر ارزش افزوده</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'vatEnable');" tabindex="17">
                            <input id="vatEnable" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="دارد,ندارد"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>درصد مالیات بر ارزش افزوده </label>
                        <div>
                            <select id="vatId" class="form-control select2" disabled maxlength="3" data-parsley-max="99" title="" required tabindex="18" data-parsley-errors-container="#vatIdErrorContainer"></select>
                        </div>
                        <div id="vatIdErrorContainer"></div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>وضعیت</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActive');" tabindex="19">
                            <input id="isActive" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="modal_save();" class="btn btn-success waves-effect waves-light" tabindex="20" title="Ctrl + S"><i class="fa fa-save"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close()" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<script src="/Modules/FA/FixedAsset/FixedAssetIndex.js"></script>