@font-face {
    font-family: "MyFont";
    src: url("../fonts/myfont.eot?hdwxiz");
    src: url("../fonts/myfont.eot?hdwxiz#iefix") format("embedded-opentype"), url("../fonts/myfont.woff?hdwxiz") format("woff"), url("../fonts/myfont.ttf?hdwxiz") format("truetype"), url("../fonts/myfont.svg?hdwxiz#myfont") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'MyFont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-umbrella-plus {
    .path1:before {
        content: "\e901";
        color: rgb(0, 0, 0);
    }

    .path2:before {
        content: "\e902";
        margin-left: -1.1240234375em;
        color: rgb(0, 0, 0);
    }

    .path3:before {
        content: "\e903";
        margin-left: -1.1240234375em;
        color: rgb(255, 255, 255);
    }
}
