<div class="row">
    <div class="assign-header-section-item">
        <label>نام : </label>
        <label id="name"></label>
    </div>
    <div class="assign-header-section-item">
        <label>وضعیت: </label>
        <label id="state"></label>
    </div>
</div>