@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body" id="card-body-forget" data-parsley-validate>
            <div class="text-center m-t-0 m-b-15 logo" id="corpname">
                <img src="~/Content/images/favicon.png" alt="" height="30">
                <label class="logo-admin">نام کیلنیک</label>
            </div>

            <h5 class="font-18 text-center">بازیابی رمز عبور</h5>

            <div class="col-12">
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    نام کاربری و شماره تلفن همراه خود را <b>وارد کنید</b> تا کد اعتبار سنجی پیامک شود
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <input class="form-control" title="" id="_username" type="text" maxlength="50" required data-parsley-required-message="پر کردن نام کاربری الزامی است." placeholder="نام کاربری">
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <input class="form-control" title="" id="mobileno" type="text" required="" placeholder="شماره تلفن همراه">
                </div>
            </div>

            <div class="form-group text-center m-t-20">
                <div class="col-12">
                    <a href="javascript:send_forget_sms();" class="btn btn-primary btn-block btn-lg waves-effect waves-light">ارسال</a>
                </div>
            </div>

        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Modules/_Login/Login.js"></script>
}