@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="wrapper-page">
    <div class="card card-pages shadow-none">

        <div class="card-body" id="card-body-resetpass" data-parsley-validate>
            <div class="text-center m-t-0 m-b-15">
                <a href="index.html" class="logo logo-admin">
                    <img src="Content/images/logo-dark.svg" alt="" height="24">
                </a>
            </div>
            <h5 class="font-18 text-center">بازنشانی رمز عبور</h5>

            <div class="form-group">
                <div class="col-12">
                    <input style="display:none" id="_username" value="@ViewData["Username"]"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-12">
                    <div>
                        <input type="password" id="_newpassword" class="form-control" title=" " maxlength="10" required
                               placeholder="رمز ورود جدید"/>
                    </div>
                    <div class="m-t-10">
                        <input type="password" id="_newpasswordconf" class="form-control" title=" " maxlength="10" required
                               data-parsley-equalto="#newpassword"
                               placeholder="تکرار رمز ورود جدید"/>
                    </div>
                </div>
            </div>

            <div class="form-group text-center m-t-20">
                <div class="col-12">
                    <a href="javascript:reset_password()" class="btn btn-primary btn-block btn-lg waves-effect waves-light">ورود</a>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Modules/_Login/Login.js"></script>
}