@using System.Security.Claims
@{
    ViewBag.Title = "لیست نسخه نویسی تامین";
}
<link href="~/lib/jquery-ui/css/jquery-ui.css" rel="stylesheet"/>

<!--Modal-->
<div id="DeleteModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-sm">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">تایید حذف</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption"></lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>کد OTP</label>
                        <div>
                            <input id="OtpCode" type="text" class="form-control" maxlength="8" title="" required tabindex="7">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-delete" onclick="modal_RemoveDeleteModal('DeleteModal');" class="btn btn-success waves-effect waves-light" tabindex="9"><i class="fa fa-save"></i>حذف</button>
                <button id="modal-close" onclick="modal_close('DeleteModal')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>
<div class="content-page displaynone" id="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="header-title d-flex">
                            <span>@ViewBag.Title</span>
                            <div class="button-items">
                                <input id="userType" type="checkbox" checked data-toggle="toggle" data-on="ثبت کننده - @User.FindFirstValue("FullName")" data-off="همه ثبت کنندگان" data-onstyle="success" data-offstyle="info" data-width="180" data-height="27">
                                <button type="button" id="formPlateListAdd" onclick="prescriptionTaminForm()" class="btn btn-info waves-effect waves-light" title="Ctrl + Insert"><i class="fa fa-plus-circle"></i>افزودن</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 displaynone" id="relationalBox">
                                <div class="form-group d-flex">
                                    <label class="relational-caption">کپشن فیلتر</label>
                                    <div class="chosen-container-parent" style="float: right !important">
                                        <select data-placeholder="انتخاب کنید..." id="form_keyvalue" class="select2">
                                            <option value="0">انتخاب کنید...</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="pagetable">
                            @await Html.PartialAsync("/Modules/NewPageTableV1.cshtml")
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
    </div>
</div>
<div id="displayFormModel" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-xxlg" style="height:88%">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="col-sm-6 text-right">
                    <h5 class="modal-title mt-0">نمایش </h5>
                </div>
            </div>
            <div class="modal-body modal-max-height-lg text-right p-0" id="contentdisplayForm" data-parsley-validate="">

            </div>
            <div class="modal-footer">
                <button id="modal-close" onclick="modal_close('displayFormModel')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>بستن</button>
            </div>
        </div>
    </div>
</div>


<div id="wcf_prescriptiontamin_error_result" class="modal fade" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-lg">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">نتیجه عملیات</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-styles border mb-0" style="table-layout:fixed" id="pagetable">
                            <thead>
                            <tr>
                                <th class="col-width-percent-20">شناسه نسخه الکترونیک</th>
                                <th class="col-width-percent-80">پیغام</th>
                            </tr>
                            </thead>
                            <tbody id="result_prescriptionrow">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="wcfprescriptiontaminresultmodal-close" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<script>
    var ipX = "@User.FindFirstValue("ipaddress")";
</script>
<script src="~/js/formplate.js"></script>
<script src="~/Modules/MC/PrescriptionTamin/PrescriptionTaminIndex.js"></script>