@{
    ViewBag.Title = "قالب تصویربرداری";
}
<link href="~/lib/jquery-ui/css/jquery-ui.css" rel="stylesheet"/>
<div class="content-page displaynone" id="content-page" style="height:auto">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="header-title">
                            <div class="button-items col-md-12">
                                <span class="float-right">@ViewBag.Title</span>
                                @*<button type="button" id="transferTemplate" onclick="modal_show('transferTemplateModal');" class="btn btn-info waves-effect waves-light"><i class="fa fa-exchange"></i>انتقال قالب</button>*@
                                <button type="button" id="readyforadd" onclick="modal_ready_for_add();" class="btn btn-info waves-effect waves-light" title="Ctrl - Insert"><i class="fa fa-plus-circle"></i>افزودن</button>
                            </div>
                        </div>
                        <div class="card-body" id="pagetable">
                            @await Html.PartialAsync("/Modules/NewPageTableV1.cshtml")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/formplate.js"></script>
<script src="~/js/formplate1.js"></script>
<script src="~/Modules/MC/AdmissionImagingTemplate/AdmissionImagingTemplateIndex.js"></script>