/* ==============
  Alertify
===================*/
.alertify,.alertify-logs {
  z-index: 99;
}

.alertify {
  input {
    border: 2px solid $muted;
  }
}

.alertify-logs>.success {
  background-color: $success;
  color: $white;
}

.alertify-logs>.error {
  background-color: $danger;
  color: $white;
}

.alertify-logs > .warning {
    background-color: $warning;
    color: $white;
}

.alertify-logs>*, .alertify-logs>.default {
  background-color: $primary;
}

.alertify .dialog nav button.ok {
    border: 1px solid #999 !important;
}

.alertify .dialog .msg {
    text-align: right;
}
