/* ==============
  Card
===================*/

.card {
    border: none;
    background-color: #fff;

    .card-header {
        background-color: #fff;
        color: #333;
    }

    .card-header-dark {
        padding: 10px;
        margin-bottom: 0;
        background-color: rgb(79, 91, 105);
        color: #fff;

        p {
            margin-bottom: 0;
            font-weight: 600;
        }
    }

    .card-body {
        padding: .5rem 0.5rem;
        .logo {
            label {
                font-size: 16px;
                margin-right: 5px;
                height: 30px;
                position: relative;
                top: 1px;
            }
        }
    }
}

@media (min-height:280px) and (max-height:414px){
    .card {
        margin-bottom:40px;
    }
}

.card-columns {
    .card {
        margin-bottom: 30px;
    }
}
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
}
