/* ==============
  Form-Validation
===================*/

.error {
  color: #ff0000;
}

.parsley-error {
  border-color: $danger !important;
}
.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0 !important
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 10px;
  list-style: none;
  color: $danger;
  margin-top: 5px;
}
.parsley-shamsidate, .parsley-shamsidatetime {
    max-width: 145px;
    float: right
}
