/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    html{
        font-size:10px;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    html {
        font-size: 10px;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    html {
        font-size: 10px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    html {
        font-size: 10px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    html {
        font-size: 10px;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    html {
        font-size: 10px;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    /* STYLES GO HERE */
}
