/* ==============
  Pagination
===================*/
.page-link {
  color: $primary;
}
.page-item {
    &:first-child {
        .page-link {
            border-left: none;
            background-color: #f0f4f7;
        }
    }

    &:last-child {
        .page-link {
            background-color: #f0f4f7;
        }
    }
}
.disabled {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
}
.page-link:focus, .page-link:hover {
  color: $dark;
  background-color: $light;
}