@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: normal;
    src: url('/Content/fonts/eot/IRANSansXFaNum-Regular.eot');
    src: url('/Content/fonts/eot/IRANSansXFaNum-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('/Content/fonts/woff2/IRANSansXFaNum-Regular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('/Content/fonts/woff/IRANSansXFaNum-Regular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('/Content/fonts/ttf/IRANSansXFaNum-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BTitr';
    src: url('/Content/fonts/ttf/BTitr.ttf')
}

@font-face {
    font-family: 'BLotus';
    src: url('/Content/fonts/ttf/BLotus.ttf')
}

@media print {
    #plugin {
        background-color: red !important;
    }
}

// Color variables
$white: #ffffff;

$primary: #2e353d;
$success: #02c58d;
$info: #59c6fb;
$warning: #fcbe2d;
$danger: #fc5454;
$warning: #e9ab19;
$dark: #2b354f;
$muted: rgba(157, 169, 181, 0.99);
$secondary: #616f80;
$light: #f0f4f7;
$dark: #354558;

// Gray Colors
$gray-100: #f0f4f7;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #616f80;
$gray-700: #495057;
$gray-800: #354558;
$gray-900: #212529;

$bg-body: #f1f2f7;
$body-color: #354558;
$left-bar: #23282e;
$left-bar-active: rgba(255, 255, 255, 0.2);
$topbar-background: #ffffff;
$topbar-search-background: #f0f4f7;
$footer-background: #ffffff;

// light leftbar

$light-leftbar: #ffffff;
$light-leftbar-menu-active-color: #2A3537;
$topbar-background-dark: #383c40;


$font-family: 'iransans';
$font-family-secondary: 'iransans';


$shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);

$base-font-size: 11px;

// Width variables
$width: 100%;
$minWidthResponsive: 0em;

// Height variables
$height: 100%;

$leftbar-menu-color: #f8fdfd;
$leftbar-menu-hover-color: #ffffff;
$leftbar-menu-active-color: #ffffff;

// Font weight
$fontWeight-100: 100px;
$fontWeight-300: 300px;
$fontWeight-500: 500px;
$fontWeight-bold: bold;
$fontWeight-bolder: bolder;
