<div class="row-info text-right d-flex">
    <h4 class="font-16 my-2">
        <span class="text-gray">شناسه : </span><span id="attrId">0000</span>
    </h4>
    <div class="border-right mr-2" ondblclick="">
        <p class="d-inline-block pl-2 m-2 border-left">نام داکتر : <span id="attrfullName">--</span></p>
        <p class="d-inline-block pl-2 m-2 border-left">دپارتمان : <span id="attrServiceCenter">--</span></p>
        <p class="d-inline-block pr-2 my-2">شماره نظام داکتری : <span id="attrMsc">--</span></p>
    </div>
</div>