@await Html.PartialAsync("/Modules/MC/Admission/AtenderReserveModal.cshtml")

<div class="modal-footer">
    <button id="reserve_close" onclick="modal_close('reserveModal')" class="btn btn-secondary waves-effect"><i class="fa fa-times-circle"></i>بستن</button>
</div>