<fieldset class="group-box group-box-green mt-3">
    <legend>جستجو</legend>
    <div class="row">
        <div class="form-group col-lg-2 col-sm-2">
            <label>مراجعه کننده</label>
            <div>
                <input id="searchPatientFullName" type="text" class="form-control" maxlength="50" tabindex="200">
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-2">
            <label>نمبر تذکره مراجعه کننده</label>
            <div>
                <input id="searchPatientNationalCode" type="text" class="form-control str-number" maxlength="50" tabindex="201">
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-2">
            <label>شماره بیمه</label>
            <div>
                <input id="searchPatientInsurNo" type="text" class="form-control" maxlength="10" tabindex="202">
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-2">
            <label>موبایل</label>
            <div>
                <input id="searchPatientMobileNo" type="text" class="form-control" maxlength="11" tabindex="203">
            </div>
        </div>
        <div class="form-group col-lg-4 col-sm-4">
            <label>بیمه اجباری / صندوق بیمه</label>
            <div class="col-lg-12 chosen-container-parent">
                <select id="patientInsuranceBoxId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="204">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3 compInsurer-section">
            <label>بیمه تکمیلی</label>
            <div class="col-lg-12 chosen-container-parent">
                <select id="patientCompInsuranceBoxId" data-placeholder="انتخاب کنید" class="form-control" tabindex="205">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3 thirdParty-section">
            <label>طرف قرارداد</label>
            <div class="col-lg-12 chosen-container-parent">
                <select id="patientThirdPartyId" data-placeholder="انتخاب کنید" class="form-control" tabindex="206" onkeydown="thirdPartyKeyDown(event)">
                    <option value="0">انتخاب کنید</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-2">
            <button id="searchPatientAdmission" type="button" class="btn btn-light border-green" style="margin-top:22.5px">
                <i class="fa fa-search"></i>
                جستجو
            </button>
        </div>
    </div>
</fieldset>
@*<div>*@
<div class="table-responsive">
    <table class="table table-styles border mb-0" id="patientListPagetable">
        <thead class="table-thead-fixed">
        <tr>
            <th class="col-width-percent-3">ردیف</th>
            <th class="col-width-percent-8">نوع مراجعه</th>
            <th class="col-width-percent-4">شناسه</th>
            <th class="col-width-percent-7">کدملی</th>
            <th class="col-width-percent-5">نام</th>
            <th class="col-width-percent-5"> تخلص</th>
            <th class="col-width-percent-7">تاریخ تولد</th>
            <th class="col-width-percent-4">جنسیت</th>
            <th class="col-width-percent-4">ملیت</th>
            <th class="col-width-percent-9">بیمه اجباری</th>
            <th class="col-width-percent-7">صندوق بیمه</th>
            <th class="col-width-percent-6">شماره بیمه</th>
            <th class="col-width-percent-7">تاریخ انقضاء</th>
            <th class="col-width-percent-8">بیمه تکمیلی</th>
            <th class="col-width-percent-8">طرف قرارداد</th>
            <th class="col-width-percent-5">موبایل</th>
            <th class="col-width-percent-3">انتخاب</th>
        </tr>
        </thead>
        <tbody id="tempPatient">
        <tr id="emptyRow">
            <td colspan="17" class="text-center">سطری وجود ندارد</td>
        </tr>
        </tbody>
    </table>
</div>
@*</div>*@
<button id="modalRowCountBtn" class="btn btn-secondary" disabled>تعداد سطر : <span id="modalRowCount"> 0 </span></button>