@{
    ViewBag.Title = "واحد های شمارش";
}

@await Html.PartialAsync("/Modules/NewFormPlate1V1.cshtml")

<!--Modal-->
<div id="AddEditModal" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption"></lable>
                            <span id="modal_keyid_value"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>واحد شمارش</label>
                        <div>
                            <input id="unitName" type="text" class="form-control" maxlength="50" title="" required tabindex="7">
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>وضعیت</label>
                        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActiveHeader');" tabindex="8">
                            <input id="isActiveHeader" type="checkbox" name="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modal-save" onclick="modal_saveAddEditModal('AddEditModal');" class="btn btn-success waves-effect waves-light" tabindex="9" title="Ctrl + S"><i class="fa fa-save"></i>ذخیره</button>
                <button id="modal-close" onclick="modal_close('AddEditModal')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>
<!--Modal-->

<div id="AddEditModalItems" class="modal fade" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true" onkeydown="modal_onkeydown(event, this)">
    <div class="modal-dialog modal-size-md">
        <div class="modal-content">
            <div class="modal-header bg-header">
                <div class="text-right">
                    <h5 class="modal-title mt-0" id="modal_title">افزودن ویرایش</h5>
                </div>
            </div>
            <div class="modal-body modal-max-height text-right" data-parsley-validate>
                <div class="row" id="rowKeyId">
                    <div class="d-block w-100 text-right mb-2 pr-3">
                        <div class="key_id">
                            <lable id="modal_keyid_caption_item"></lable>
                            <span id="modal_keyid_value_item"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div style="overflow-y:scroll !important;overflow-x:auto!important;height:300px" id="tableLine">
                            <table style="width:100% !important">
                                <thead>
                                <tr>
                                    <th style="width:8%">سطر</th>
                                    <th style="width:32%">واحد شمارش</th>
                                    <th style="width:23%">ضریب</th>
                                    <th style="width:23%">وضعیت</th>
                                    <th style="width:14%">عملیات</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr>
                                    <th style="width:8%" disabled>
                                        <input id="idNumber" type="text" class="form-control atoz-valid text-center" maxlength="50" title="" disabled>
                                        <input id="idNumberReal" type="text" class="form-control atoz-valid d-none" maxlength="50" title="" disabled>
                                    </th>
                                    <th style="width:32%">
                                        <div class="col-lg-12 chosen-container-parent">
                                            <select id="unitId" data-placeholder="انتخاب کنید" class="form-control select2" tabindex="1"></select>
                                        </div>
                                    </th>
                                    <th style="width:23%">
                                        <input id="ratio" type="text" class="form-control decimal mask" data-inputmask="'mask':'9{1,5}/9{1,3}','radixPoint':'/'" maxlength="9" title="" tabindex="2">
                                    </th>
                                    <th style="width:23%">
                                        <div class="form-group" style="margin-bottom:0px">
                                            <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isActiveTable');" tabindex="3">
                                                <input id="isActiveTable" type="checkbox" name="checkbox" onchange="funkyradio_onchange(this)" switch-value="فعال,غیرفعال"/>
                                            </div>
                                        </div>
                                    </th>
                                    <th style="width:14%">
                                        <div style="display:flex;justify-content:center;width:100%">
                                            <button id="saveRow" type="button" onclick="saveUpdateRow(this)" class="btn blue_outline_1 pa float-sm-right" style="word-break:initial" tabindex="4">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button id="resetInputs" type="button" onclick="resetInputsRowUnits(this)" class="btn btn-outline-danger pa mr-2 float-sm-right" tabindex="5">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td colspan="5" style="text-align:center">سطری وجود ندارد</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="modal-save" onclick="NewModal_saveAddEditModal('AddEditModalItems');" class="btn btn-success waves-effect waves-light" tabindex="9"><i class="fa fa-save"></i>ذخیره</button>*@
                <button id="modal-close" onclick="modal_close('AddEditModalItems')" class="btn btn-secondary waves-effect" title="Esc"><i class="fa fa-times-circle"></i>انصراف</button>
            </div>
        </div>
    </div>
</div>

<link href="~/lib/ModulesCss/ItemTableLine.css" rel="stylesheet"/>
<script src="/Modules/WH/ItemUnit/ItemUnitIndex.js"></script>