@*<link href="~/Content/css/HeaderForm.css" rel="stylesheet" />

<div class="row col-md-5 header-form-box">
    <label class="header-form-text">@ViewBag.Title</label>
    <span class="slash-beetwin-header">|</span>
    <label id="branchNameHeader" class="text-info"></label>
    <span class="slash-beetwin-header">|</span>
    <label id="counterNameHeader" class="text-info"></label>
    <span class="slash-beetwin-header">|</span>
    <label id="userNameHeader" class="text-info"></label>
</div>

<script src="~/js/admission.js?ver=@Guid.NewGuid().ToString().Replace("-","")"></script>
<script src="~/Modules/MC/AdmissionHeaderForms/HeaderForms.js"></script>*@