@{
    ViewBag.Title = "نظام ارجاع";
}


<link href="~/lib/jquery-ui/css/jquery-ui.css" rel="stylesheet"/>
<link href="~/lib/switchCheckbox/switchBox.css" rel="stylesheet"/>
<link href="~/lib/ModulesCss/AdmissionRefer.css" rel="stylesheet"/>

<div class="content-page displaynone" id="content-page">
<div class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">
<div class="card m-b-30 m-t-15">
<div class="header-title d-flex">
    <span>@ViewBag.Title</span>
    <div class="button-items">
        <button id="" type="button" onclick="modal_show('searchAdmissionModal');" class="btn btn-info waves-effect"><i class="fa fa-user-alt"></i>انتخاب پذیرش</button>
        <button id="list_adm" type="button" class="btn btn_green_1 waves-effect"><i class="fa fa-list-ul"></i>لیست</button>
        <button id="saveForm" type="button" onclick="saveAdmissionReferForm()" class="btn btn-success waves-effect"><i class="fa fa-save"></i>ذخیره</button>
        <button id="newForm" type="button" onclick="resetFormAdmissionRefer()" class="btn btn-info waves-effect"><i class="fa fa-plus-circle"></i>جدید</button>
    </div>
</div>
<div class="card-body" data-parsley-validate>

<div class="row displaynone" id="AdmissionReferBox">
    <div class="col-12 d-flex">
        <div class="form-group col-lg-2 col-sm-3">
            <label>شناسه</label>
            <div>
                <input id="admissionReferId" type="text" class="form-control number" maxlength="10" readonly value="@ViewContext.RouteData.Values["id"]"/>
            </div>
        </div>
        <div class="form-group col-lg-4 col-sm-5">
            <label>ثبت کننده</label>
            <input id="userFullName" type="text" class="form-control" readonly/>
        </div>
    </div>
</div>

<fieldset class="group-box group-box-green mt-3">
    <legend>مراجعه کننده</legend>
    <table class="table">
        <thead>
        <tr>
            <th>شناسه</th>
            <th>مراجعه کننده</th>
            <th>کدملی</th>
            <th>بیمه پایه</th>
            <th>صندوق</th>
            <th>بیمه تکمیلی</th>
            <th>شناسه شباد</th>
            <th>انقضاء دفترچه</th>
            <th>داکتر</th>
            <th>عملیات</th>
        </tr>
        </thead>
        <tbody id="admissionSelected">
        </tbody>
    </table>
</fieldset>

<fieldset class="group-box group-box-orange mt-3">
<button type="button" onclick="plusR(this)" class="btn btn-light border-orange plus">
    <i class="fas fa-plus"></i>
</button>
<legend>دریافت ارجاع</legend>
<div class="row" data-parsley-validate>
    <div class="form-group col-lg-4  col-sm-6">
        <label>کد ارجاع</label>
        <input id="referralId" type="text" class="form-control col-6" style="display:inline-block; margin:0 5px 0 5px;" maxlength="50" tabindex="6" required/>
        <button id="getreferral" type="button" class="btn btn-light border-green" tabindex="7" title="برای نمایش ارجاع بر روی این دکمه کلیک نمایید">نمایش ارجاع <i class="ml-1"></i></button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>نام و  تخلص</th>
            <th>جنسیت</th>
            <th>شماره تماس</th>
            <th>آدرس</th>
            <th>تاریخ تولد</th>
            <th>ملیت</th>
            <th>نمبر تذکره</th>
            <th>وضعیت تاهل</th>
        </tr>
        </thead>
        <tbody id="tempGetRefer">
        </tbody>
    </table>
</div>
<div style="width:100%;height:10px;"></div>
<div class="slideToggle" style="display:none;">
<ul class="nav nav-pills nav-justified T" role="tablist">
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link active T" data-toggle="tab" href="#referralInfoBox" role="tab">
            <span class="d-none d-md-block  getRefer">اطلاعات ارجاع</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-account h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#admissionFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">پذیرش</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-account h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#insuranceFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">اطلاعات بیمه</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#abuseHistoryFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">مصرف دخانیات</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-account h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#familyHistoryFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">سوابق خانوادگی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#bloodPerssureTBox" role="tab">
            <span class="d-none d-md-block  getRefer">فشار خون</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#careActionFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">اقدامات درمانی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#clinicalFindingFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">معاینات کلی مراجعه کننده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#adverseReactionFieldbox" role="tab">
            <span class="d-none d-md-block">عوارض جانبی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#drugHistoryFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">تاریخچه دارویی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#drugOrderedFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">ویژگی دارو تجویز شده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#heightWeightTBox" role="tab">
            <span class="d-none d-md-block  getRefer">قد و وزن</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#pastMedicalHistoryFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">تاریخچه داکتری مراجعه کننده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#pulseTBox" role="tab">
            <span class="d-none d-md-block  getRefer">ضربان</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#vitalSingsTBox" role="tab">
            <span class="d-none d-md-block  getRefer">علائم حیاتی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#waistHipTBox" role="tab">
            <span class="d-none d-md-block  getRefer">ابعاد بدن مراجعه کننده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light">
        <a class="nav-link T" data-toggle="tab" href="#diagnosisFieldBox" role="tab">
            <span class="d-none d-md-block  getRefer">تشخیص</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content group-box group-box-orange ">
@*START referralInfo*@
<div class="tab-pane active p-3" id="referralInfoBox" role="tabpanel">
    <div class="row tabToggle1" id="referralInfoForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempReferralInfoList">
                <thead>
                <tr>
                    <th>توضیحات</th>
                    <th>تاریخ زمان ارجاع</th>
                    <th>مرکز ارجاع دهنده</th>
                    <th>داکتر ارجاع دهنده</th>
                    <th>نقش</th>
                    <th>تخصص</th>
                    <th>دلیل ارجاع</th>
                    <th>نوع ارجاع</th>
                </tr>
                </thead>
                <tbody id="tempreferralInfo">
                <tr id="emptyRow">
                    <td colspan="8" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END referralInfo*@
@*START abuseHistoryT*@
<div class="tab-pane p-3" id="abuseHistoryFieldBox" role="tabpanel">
    <div class="row tabToggle1" id="abuseHistoryFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempabuseHistoryFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نوع ماده مخدر</th>
                    <th>میزان مصرف</th>
                    <th> واحد ماده مخدر </th>
                    <th>مدت زمان مصرف</th>
                    <th>واحد مصرف</th>
                    <th>تاریخ شروع مصرف</th>
                    <th>تاریخ قطع مصرف</th>
                </tr>
                </thead>
                <tbody id="tempabuseHistoryField">
                <tr id="emptyRow">
                    <td colspan="8" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END abuseHistoryT*@
@*START familyHistoryT*@
<div class="tab-pane  p-3" id="familyHistoryFieldBox" role="tabpanel">
    <div class="row tabToggle3" id="familyHistoryFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempfamilyHistoryFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نسبت با بیمار</th>
                    <th>نام بیماری</th>
                    <th>بیماری علت مرگ </th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="tempfamilyHistoryField">
                <tr id="emptyRow">
                    <td colspan="5" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END familyHistoryT*@
@*START bloodPerssureT*@
<div class="tab-pane  p-3" id="bloodPerssureTBox" role="tabpanel">
    <div class="row tabToggle4" id="bloodPerssureTForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="font-size:10px" id="tempbloodPerssureTList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>حالت بیمار</th>
                    <th>فشار خون دیاستولیک</th>
                    <th>فشار خون سیستولیک</th>
                    <th>تاریخ مشاهده</th>
                </tr>
                </thead>
                <tbody id="tempbloodPerssureT">
                <tr id="emptyRow">
                    <td colspan="6" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END bloodPerssureT*@
@*START careActionT*@
<div class="tab-pane  p-3" id="careActionFieldBox" role="tabpanel">
    <div class="row tabToggle5" id="careActionFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempcareActionFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام اقدام</th>
                    <th>تاریخ زمان شروع</th>
                    <th>تاریخ زمان پایان</th>
                    <th>مدت زمان انجام اقدام درمانی</th>
                    <th>واحد اندازه گیری</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="tempcareActionField">
                <tr id="emptyRow">
                    <td colspan="7" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END careActionT*@
@*START clinicFindingT*@
<div class="tab-pane  p-3" id="clinicalFindingFieldBox" role="tabpanel">
    <div class="row tabToggle6" id="clinicalFindingFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempclinicalFindingFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>سن شروع بیماری</th>
                    <th>تاریخ شروع بیماری</th>
                    <th>مدت زمان بیماری تاکنون </th>
                    <th>واحد اندازه گیری</th>
                    <th>علائم نشانه ها و یافته های بالینی</th>
                    <th>شدت</th>
                    <th>علائمی که وجود ندارد</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="tempclinicalFindingField">
                <tr id="emptyRow">
                    <td colspan="9" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END clinicFindingT*@
@*START adverseReactionT*@
<div class="tab-pane  p-3" id="adverseReactionFieldbox" role="tabpanel">
    <div class="row tabToggle6" id="adverseReactionFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempadverseReactionFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>دسته بندی عامل عارضه</th>
                    <th>عامل ایجاد کننده عارضه</th>
                    <th>دسته بندی عارضه </th>
                    <th>عارضه </th>
                    <th>شدت عارضه</th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="tempadverseReactionField">
                <tr id="emptyRow">
                    <td colspan="7" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END adverseReactionT*@
@*START drugHistoryT*@
<div class="tab-pane  p-3" id="drugHistoryFieldBox" role="tabpanel">
    <div class="row tabToggle7" id="drugHistoryFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempdrugHistoryFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام دارو</th>
                    <th>طریقه مصرف</th>
                </tr>
                </thead>
                <tbody id="tempdrugHistoryField">
                <tr id="emptyRow">
                    <td colspan="3" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END drugHistoryT*@
@*START drugOrderedT*@
<div class="tab-pane  p-3" id="drugOrderedFieldBox" role="tabpanel">
    <div class="row tabToggle8" id="drugOrderedFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempdrugOrderedFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>کد دارو</th>
                    <th>نام ژنریک دارو</th>
                    <th>طریقه مصرف</th>
                    <th>تواتر مصرف</th>
                    <th>دوز مصرفی</th>
                    <th>واحد اندازه گیری</th>
                    <th>مدت زمان مصرف</th>
                    <th>واحد اندازه گیری مدت زمان مصرف</th>
                    <th>تعداد</th>
                    <th>تاریخ زمان تجویز</th>
                    <th>توضیح</th>
                </tr>
                </thead>
                <tbody id="tempdrugOrderedField">
                <tr id="emptyRow">
                    <td colspan="12" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END drugOrderedT*@
@*START heightWeightT*@
<div class="tab-pane  p-3" id="heightWeightTBox" role="tabpanel">
    <div class="row tabToggle9" id="heightWeightTForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempheightWeightTList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>قد</th>
                    <th>وزن</th>
                    <th>تاریخ مشاهده</th>
                </tr>
                </thead>
                <tbody id="tempheightWeightT">
                <tr id="emptyRow">
                    <td colspan="4" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END heightWeightT*@
@*START medicalHistoryT*@
<div class="tab-pane  p-3" id="pastMedicalHistoryFieldBox" role="tabpanel">
    <div class="row tabToggle10" id="pastMedicalHistoryFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="temppastMedicalHistoryFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام بیماری</th>
                    <th>تاریخ شروع بیماری</th>
                    <th>مدت زمان بیماری تاکنون</th>
                    <th>واحد اندازه گیری</th>
                    <th>توضیح</th>
                </tr>
                </thead>
                <tbody id="temppastMedicalHistoryField">
                <tr id="emptyRow">
                    <td colspan="6" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END medicalHistoryT*@
@*START pulseT*@
<div class="tab-pane  p-3" id="pulseTBox" role="tabpanel">
    <div class="row tabToggle11" id="pulseTForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="temppulseTList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    @*<th>حالت بیمار</th>*@
                    <th>تعداد ضربان </th>
                    <th>وجود / عدم وجود نبض</th>
                    <th>روش اندازه گیری</th>
                    <th>محل نبض</th>
                    <th>ویژگی نبض</th>
                    <th>حجم و قدرت نبض</th>
                    <th>ریتم و نظم نبض</th>
                    <th>تاریخ مشاهده</th>
                    <th>توضیح معاینه</th>
                </tr>
                </thead>
                <tbody id="temppulseT">
                <tr id="emptyRow">
                    <td colspan="10" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END pulseT*@
@*START vitalSingsT*@
<div class="tab-pane  p-3" id="vitalSingsTBox" role="tabpanel">
    <div class="table-responsive" style="width:100%;height: 300px;">
        <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempvitalSingsTList">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>تعداد ضربان </th>
                <th>تعداد تنفس </th>
                <th>دمای بدن</th>
                <th>محل اخذ دما</th>
                <th>تاریخ مشاهده</th>
            </tr>
            </thead>
            <tbody id="tempvitalSingsT">
            <tr id="emptyRow">
                <td colspan="6" class="text-center">سطری وجود ندارد</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
@*END vitalSingsT*@
@*START waistHipT*@
<div class="tab-pane  p-3" id="waistHipTBox" role="tabpanel">
    <div class="row tabToggle13" id="waistHipTForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempwaistHipTList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>اندازه دور ران</th>
                    <th>اندازه دور کمر</th>
                    <th>تاریخ مشاهده</th>
                </tr>
                </thead>
                <tbody id="tempwaistHipT">
                <tr id="emptyRow">
                    <td colspan="4" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END waistHipT*@
@*START diagT*@
<div class="tab-pane p-3" id="diagnosisFieldBox" role="tabpanel">
    <div id="diagnosisFieldForm" class="row tabToggle4" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempdiagnosisFieldList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>وضعیت تشخیص</th>
                    <th>تشخیص</th>
                    <th>میزان شدت بیماری </th>
                    <th>توضیحات</th>
                </tr>
                </thead>
                <tbody id="tempdiagnosisField">
                <tr id="emptyRow">
                    <td colspan="5" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END diagT*@
@*START admissionField*@
<div class="tab-pane p-3" id="admissionFieldBox" role="tabpanel">
    <div class="row tabToggle1" id="admissionFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempadmissionFieldList">
                <thead>
                <tr>
                    <th>تاریخ / زمان پذیرش</th>
                    <th>نوع پذیرش</th>
                    <th>پذیرنده</th>
                    <th>داکتر ارجاع دهنده</th>
                    <th>داکتر داکتر</th>
                </tr>
                </thead>
                <tbody id="tempadmissionField">
                <tr id="emptyRow">
                    <td colspan="5" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END admissionField*@
@*START insuranceField*@
<div class="tab-pane  p-3" id="insuranceFieldBox" role="tabpanel">
    <div class="row tabToggle3" id="insuranceFieldForm" data-parsley-validate>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempinsuranceFieldList">
                <thead>
                <tr>
                    <th>بیمه گر</th>
                    <th>صندوق بیمه</th>
                    <th>شماره صفحه دفترچه</th>
                    <th>تاریخ انقضا</th>
                    <th>شماره بیمه</th>
                    <th>شباد</th>
                </tr>
                </thead>
                <tbody id="tempinsuranceField">
                <tr id="emptyRow">
                    <td colspan="6" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END insuranceField*@

</div>
</div>
</fieldset>

<fieldset class="group-box group-box-gray mt-3" id="sendFeedBackFieldset">
<legend>ارسال بازخورد</legend>
<div class="row " id="referForm" data-parsley-validate>
    <div class="form-group col-lg-1  col-sm-2">
        <label> قابل مشاهده</label>
        <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'iSQueriable');" tabindex="10">
            <input id="iSQueriable" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="بلی,خیر"/>
        </div>
    </div>
    @*<div class="form-group col-lg-2 col-sm-3">
                                            <label> دلیل بازخورد</label>
                                            <div>
                                                <select id="referredReasonId" class="form-control select2" tabindex="11" required data-parsley-errors-container="#referredReasonIdContainer"></select>
                                            </div>
                                            <div id="referredReasonIdContainer"></div>
                                        </div>
                                        <div class="form-group col-lg-2 col-sm-3">
                                            <label>نوع بازخورد</label>
                                            <div>
                                                <select id="referredTypeId" class="form-control select2" tabindex="12" required data-parsley-errors-container="#referredTypeIdContainer"></select>
                                            </div>
                                            <div id="referredTypeIdContainer"></div>
                                        </div>
                                        <div class="form-group col-lg-4 col-sm-4">
                                            <label>توضیحات</label>
                                            <div>
                                                <input id="referralDescription" type="text" class="form-control" maxlength="100" tabindex="13" />
                                            </div>
                                        </div>*@
    <div class="form-group col-lg-3 col-sm-4">
        <label>مراجعه بعدی</label>
        <div>
            <input id="nextEncounter" type="text" placeholder="سال - ماه - هفته - روز" class="form-control number" required maxlength="100" tabindex="14"/>
        </div>
    </div>
    <div class="form-group col-lg-3 col-sm-3">
        <label>واحد زمانی مراجعه بعدی</label>
        <div>
            <select id="nextEncounterUnitId" class="form-control select2" tabindex="15" required data-parsley-errors-container="#nextEncounterUnitIdContainer"></select>
        </div>
        <div id="nextEncounterUnitIdContainer"></div>
    </div>

    <div class="form-group col-lg-3 col-sm-3">
        <label>زمان مراجعه بعدی</label>
        <div>
            <input id="nextEncounterDateTimePersian" type="text" class="form-control" maxlength="16" required data-parsley-shamsidatetime placeholder="____/__/__ __:__" data-inputmask="'mask':'9999/99/99 99:99'" tabindex="16"/>
        </div>
    </div>
    <div class="form-group col-lg-2 col-sm-3">
        <label>نوع مراجعه</label>
        <div>
            <select id="nextEncounterType" class="form-control select2" tabindex="17" required data-parsley-errors-container="#nextEncounterTypeContainer"></select>
        </div>
        <div id="nextEncounterTypeContainer"></div>
    </div>
    <div class="form-group col-lg-4  col-sm-6">
        <label>توضیحات مرتبط با پیگیری</label>
        <div>
            <input id="followUpDescription" type="text" class="form-control" maxlength="100" tabindex="18"/>
        </div>
    </div>
</div>
<ul class="nav nav-pills nav-justified" role="tablist">
    <li class="nav-item waves-effect waves-light" onclick="focusInput(1)">
        <a class="nav-link active" data-toggle="tab" id="abuseHistoryLink" href="#abuseHistoryBox" role="tab">
            <span class="d-none d-md-block">مصرف دخانیات</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-account h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(3)">
        <a class="nav-link" data-toggle="tab" id="familyHistoryLink" href="#familyHistoryBox" role="tab">
            <span class="d-none d-md-block">سوابق خانوادگی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(5)">
        <a class="nav-link" data-toggle="tab" id="careActionLink" href="#careActionBox" role="tab">
            <span class="d-none d-md-block">اقدامات درمانی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(6)">
        <a class="nav-link" data-toggle="tab" id="clinicFindingLink" href="#clinicFindingBox" role="tab">
            <span class="d-none d-md-block">معاینات کلی مراجعه کننده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(7)">
        <a class="nav-link" data-toggle="tab" id="drugHistoryLink" href="#drugHistoryBox" role="tab">
            <span class="d-none d-md-block">تاریخچه دارویی</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(8)">
        <a class="nav-link" data-toggle="tab" id="drugOrderedLink" href="#drugOrderedBox" role="tab">
            <span class="d-none d-md-block">ویژگی دارو تجویز شده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(10)">
        <a class="nav-link" data-toggle="tab" id="medicalHistoryLink" href="#medicalHistoryBox" role="tab">
            <span class="d-none d-md-block">تاریخچه داکتری مراجعه کننده</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
    <li class="nav-item waves-effect waves-light" onclick="focusInput(14)">
        <a class="nav-link" data-toggle="tab" id="diagLink" href="#diagBox" role="tab">
            <span class="d-none d-md-block">تشخیص</span>
            <span class="d-block d-md-none">
                <i class="mdi mdi-email h5"></i>
            </span>
        </a>
    </li>
</ul>
<!-- Tab panes -->
<div class="tab-content group-box group-box-gray">
@*START abuseHistory*@
<div class="tab-pane active p-3" id="abuseHistoryBox" role="tabpanel">
    <div class="row tabToggle1" id="abuseHistoryForm" data-parsley-validate>
        <div class="form-group col-lg-2 col-sm-4">
            <label>نوع ماده مخدر</label>
            <div>
                <select id="substanceTypeId" class="form-control select2" tabindex="19"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>میزان مصرف</label>
            <div>
                <input id="amountOfAbuseDosage" type="text" class="form-control number" data-parsley-min="1" maxlength="50" tabindex="20"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>واحد ماده مخدر</label>
            <div>
                <select id="amountOfAbuseUnitId" class="form-control select2" tabindex="21"></select>
            </div>
        </div>
        <div class="form-group col-xxl-2 col-lg-3 col-sm-4">
            <label>مدت زمان مصرف</label>
            <div>
                <input id="abuseDuration" type="text" placeholder="سال - ماه - هفته - روز" class="form-control number" maxlength="50" tabindex="22"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>واحد مصرف</label>
            <div>
                <select id="abuseDurationUnitId" class="form-control select2" tabindex="23"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ شروع مصرف</label>
            <div>
                <input id="startDate" type="text" class="form-control" maxlength="10" data-parsley-shamsidate placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" tabindex="24"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ قطع مصرف</label>
            <div>
                <input id="quitDate" type="text" class="form-control" maxlength="10" data-parsley-shamsidate placeholder="____/__/__" data-inputmask="'mask':'9999/99/99'" tabindex="25"/>
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0;">
                <button id="addabuseHistory" type="button" class="btn btn-light border-blue" tabindex="26"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceledabuseHistory" type="button" class="btn btn-light border-green" tabindex="27"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempabuseHistoryList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نوع ماده مخدر</th>
                    <th>میزان مصرف</th>
                    <th>واحد ماده مخدر</th>
                    <th>مدت زمان مصرف</th>
                    <th>واحد مصرف</th>
                    <th>تاریخ شروع مصرف</th>
                    <th>تاریخ قطع مصرف</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempabuseHistory">
                <tr id="emptyRow">
                    <td colspan="9" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END abuseHistory*@
@*START familyHistory*@
<div class="tab-pane  p-3" id="familyHistoryBox" role="tabpanel">
    <div class="row tabToggle3" id="familyHistoryForm" data-parsley-validate>
        <div class="form-group col-lg-3 col-sm-4">
            <label>نسبت با بیمار</label>
            <div>
                <select id="relatedPersonId" class="form-control select2" tabindex="33"></select>
            </div>
        </div>
        <div class="form-group col-lg-3 col-sm-4">
            <label>نام بیماری</label>
            <div>
                <select id="conditionId_familyHistory" class="form-control select2" tabindex="34"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>بیماری علت مرگ </label>
            <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'isCauseofDeath');" tabindex="35">
                <input id="isCauseofDeath" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="بلی,خیر"/>
            </div>
        </div>
        <div class="form-group col-lg-4 col-sm-6">
            <label>توضیحات</label>
            <div>
                <input id="description_familyHistory" type="text" class="form-control" maxlength="100" tabindex="36"/>
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0;">
                <button id="addfamilyHistory" type="button" class="btn btn-light border-blue" tabindex="37"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceledfamilyHistory" type="button" class="btn btn-light border-green" tabindex="38"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempfamilyHistoryList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نسبت با بیمار</th>
                    <th>نام بیماری</th>
                    <th>بیماری علت مرگ </th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempfamilyHistory">
                <tr id="emptyRow">
                    <td colspan="6" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END familyHistory*@
@*START careAction*@
<div class="tab-pane  p-3" id="careActionBox" role="tabpanel">
    <div class="row tabToggle5" id="careActionForm" data-parsley-validate>
        <div class="form-group col-lg-2 col-sm-4">
            <label>نام اقدام</label>
            <div>
                <select id="actionNameId" class="form-control select2" tabindex="47"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ زمان شروع</label>
            <div>
                <input id="startDateTime" type="text" class="form-control" data-parsley-shamsidatetime maxlength="16" placeholder="____/__/__ __:__" data-inputmask="'mask':'9999/99/99 99:99'" tabindex="48">
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ زمان پایان</label>
            <div>
                <input id="endDateTime" type="text" class="form-control" data-parsley-shamsidatetime maxlength="16" placeholder="____/__/__ __:__" data-inputmask="'mask':'9999/99/99 99:99'" tabindex="49">
            </div>
        </div>
        <div class="form-group col-xxl-3 col-lg-4 col-sm-6">
            <label>مدت زمان انجام اقدام درمانی</label>
            <div>
                <input id="timeTaken" type="text" placeholder="سال - ماه - هفته - روز - ساعت - دقیقه" class="form-control number" maxlength="50" tabindex="50"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>واحد اندازه گیری</label>
            <div>
                <select id="timeTakenUnitId" class="form-control select2" tabindex="51"></select>
            </div>
        </div>
        <div class="form-group col-lg-4 col-sm-6">
            <label>توضیحات</label>
            <div>
                <input id="actionDescription" type="text" class="form-control" maxlength="100" tabindex="52"/>
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0;">
                <button id="addcareAction" type="button" class="btn btn-light border-blue" tabindex="53"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceledcareAction" type="button" class="btn btn-light border-green" tabindex="54"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempcareActionList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام اقدام</th>
                    <th>تاریخ زمان شروع</th>
                    <th>تاریخ زمان پایان</th>
                    <th>مدت زمان انجام اقدام درمانی</th>
                    <th>واحد اندازه گیری</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempcareAction">
                <tr id="emptyRow">
                    <td colspan="8" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END careAction*@
@*START clinicFinding*@
<div class="tab-pane  p-3" id="clinicFindingBox" role="tabpanel">
    <div class="row tabToggle6" id="clinicFindingForm" data-parsley-validate>
        <div class="form-group col-lg-2 col-sm-4">
            <label>سن شروع بیماری</label>
            <div>
                <input id="ageOfOnset" type="text" class="form-control number" maxlength="50" tabindex="55" data-parsley-max="110"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ شروع بیماری</label>
            <div>
                <input id="onSetDateTime" type="text" class="form-control" data-parsley-shamsidatetime maxlength="16" placeholder="____/__/__ __:__" data-inputmask="'mask':'9999/99/99 99:99'" tabindex="56">
            </div>
            <div id="severityIdContainer"></div>
        </div>
        <div class="form-group col-xxl-3 col-lg-4 col-sm-5">
            <label>مدت زمان بیماری تاکنون</label>
            <div>
                <input id="onsetDurationToPresent_clinicFinding" placeholder="سال - ماه - هفته - روز - ساعت - دقیقه" type="text" class="form-control number" maxlength="50" tabindex="57"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>واحد اندازه گیری</label>
            <div>
                <select id="onsetDurationToPresentUnitId_clinicFinding" class="form-control select2" tabindex="58"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>علائم نشانه ها و یافته های بالینی</label>
            <div>
                <select id="findingId" class="form-control select2" tabindex="59"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>شدت</label>
            <div>
                <select id="severityId" class="form-control select2" tabindex="60"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-2">
            <label>علائمی که وجود ندارد</label>
            <div class="funkyradio funkyradio-success" onkeydown="funkyradio_keydown(event,'nillSignificant');" tabindex="61">
                <input id="nillSignificant" type="checkbox" onchange="funkyradio_onchange(this)" switch-value="بلی,خیر"/>
            </div>
        </div>
        <div class="form-group col-lg-4 col-sm-6">
            <label>توضیحات</label>
            <div>
                <input id="description_clinicFinding" type="text" class="form-control" maxlength="100" tabindex="62">
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0;">
                <button id="addclinicFinding" type="button" class="btn btn-light border-blue" tabindex="63"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceledclinicFinding" type="button" class="btn btn-light border-green" tabindex="64"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempclinicFindingList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>سن شروع بیماری</th>
                    <th>تاریخ شروع بیماری</th>
                    <th>مدت زمان بیماری تاکنون</th>
                    <th>واحد اندازه گیری</th>
                    <th>علائم نشانه ها و یافته های بالینی</th>
                    <th>شدت</th>
                    <th>علائمی که وجود ندارد</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempclinicFinding">
                <tr id="emptyRow">
                    <td colspan="10" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END clinicFinding*@
@*START drugHistory*@
<div class="tab-pane  p-3" id="drugHistoryBox" role="tabpanel">
    <div class="row tabToggle7" id="drugHistoryForm" data-parsley-validate>
        <div class="form-group col-lg-3 col-sm-4">
            <label>نام دارو</label>
            <div>
                <select id="medicationId" class="form-control select2" tabindex="65"></select>
            </div>
        </div>
        <div class="form-group col-lg-3 col-sm-4">
            <label>طریقه مصرف</label>
            <div>
                <select id="routeId_drugHistory" class="form-control select2" tabindex="66"></select>
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0;">
                <button id="adddrugHistory" type="button" class="btn btn-light border-blue" tabindex="67"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceleddrugHistory" type="button" class="btn btn-light border-green" tabindex="68"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempdrugHistoryList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام دارو</th>
                    <th>طریقه مصرف</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempdrugHistory">
                <tr id="emptyRow">
                    <td colspan="4" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END drugHistory*@
@*START drugOrdered*@
<div class="tab-pane  p-3" id="drugOrderedBox" role="tabpanel">
    <div class="row tabToggle8" id="drugOrderedForm" data-parsley-validate>
        <div class="form-group col-lg-2 col-sm-4">
            <label>کد دارو</label>
            <div>
                <select id="productId" class="form-control select2" tabindex="69"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>نام ژنریک دارو</label>
            <div>
                <input id="drugGenericName" type="text" class="form-control" maxlength="50" tabindex="70"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>طریقه مصرف</label>
            <div>
                <select id="routeId_drugOrdered" class="form-control select2" tabindex="71"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>تواتر مصرف</label>
            <div>
                <select id="frequencyId" class="form-control select2" tabindex="72"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>دوز مصرفی</label>
            <div>
                <input id="dosage" type="text" placeholder="میلی گرم - میلی لیتر" class="form-control number" maxlength="50" tabindex="73"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>واحد اندازه گیری</label>
            <div>
                <select id="dosageUnitId" class="form-control select2" tabindex="74"></select>
            </div>
        </div>
        <div class="form-group col-xxl-2 col-lg-3 col-sm-4">
            <label>مدت زمان مصرف</label>
            <div>
                <input id="longTerm" type="text" placeholder="سال - ماه - روز - دقیقه" class="form-control number" maxlength="50" tabindex="75"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-4">
            <label>واحد اندازه گیری مدت زمان مصرف</label>
            <div>
                <select id="longTermUnitId" class="form-control select2" tabindex="76"></select>
            </div>
        </div>
        <div class="form-group col-xxl-1 col-lg-2 col-sm-4">
            <label>تعداد</label>
            <div>
                <input id="totalNumber" type="text" class="form-control number" maxlength="50" tabindex="77"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ زمان تجویز</label>
            <div>
                <input id="administrationDateTime" type="text" class="form-control" data-parsley-shamsidatetime maxlength="16" placeholder="____/__/__ __:__" data-inputmask="'mask':'9999/99/99 99:99'" tabindex="78">
            </div>
        </div>
        <div class="form-group col-lg-3 col-sm-5">
            <label>توضیح</label>
            <div>
                <input id="description_drugOrdered" type="text" class="form-control" maxlength="100" tabindex="79"/>
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0;">
                <button id="adddrugOrdered" type="button" class="btn btn-light border-blue" tabindex="80"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceleddrugOrdered" type="button" class="btn btn-light border-green" tabindex="81"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>
        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempdrugOrderedList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>کد دارو</th>
                    <th>نام ژنریک دارو</th>
                    <th>طریقه مصرف</th>
                    <th>تواتر مصرف</th>
                    <th>دوز مصرفی</th>
                    <th>واحد اندازه گیری</th>
                    <th>مدت زمان مصرف</th>
                    <th>واحد اندازه گیری مدت زمان مصرف</th>
                    <th>تعداد</th>
                    <th>تاریخ زمان تجویز</th>
                    <th>توضیح</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempdrugOrdered">
                <tr id="emptyRow">
                    <td colspan="13" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END drugOrdered*@
@*START medicalHistory*@
<div class="tab-pane  p-3" id="medicalHistoryBox" role="tabpanel">
    <div class="row tabToggle10" id="medicalHistoryForm" data-parsley-validate>
        <div class="form-group col-lg-2 col-sm-4">
            <label>نام بیماری</label>
            <div>
                <select id="conditionId_medicalHistory" class="form-control select2" tabindex="89"></select>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>تاریخ شروع بیماری</label>
            <div>
                <input id="dateOfOnSet" type="text" class="form-control" maxlength="16" data-parsley-shamsidatetime placeholder="____/__/__ __:__" data-inputmask="'mask':'9999/99/99 99:99'" tabindex="90"/>
            </div>
        </div>
        <div class="form-group col-xxl-2 col-lg-3 col-sm-4">
            <label>مدت زمان بیماری تاکنون</label>
            <div>
                <input id="onsetDurationToPresent_medicalHistory" placeholder="سال - ماه - هفته - روز" type="text" class="form-control number" maxlength="50" tabindex="91"/>
            </div>
        </div>
        <div class="form-group col-lg-2 col-sm-3">
            <label>واحد اندازه گیری</label>
            <div>
                <select id="onsetDurationToPresentUnitId_medicalHistory" class="form-control select2" tabindex="92"></select>
            </div>
        </div>
        <div class="form-group col-xxl-2 col-lg-3  col-sm-6">
            <label>توضیح</label>
            <div>
                <input id="description_medicalHistory" type="text" class="form-control" maxlength="100" tabindex="93"/>
            </div>
        </div>
        <div class="col-sm text-right">
            <div class="button-items" style="margin:20px 0 10px 0">
                <button id="addmedicalHistory" type="button" class="btn btn-light border-blue" tabindex="94"><i class="fa fa-arrow-down"></i>ثبت</button>
                <button id="canceledmedicalHistory" type="button" class="btn btn-light border-green" tabindex="95"><i class="fa fa-times"></i>&nbsp;&nbsp;انصراف</button>
            </div>
        </div>

        <div class="table-responsive" style="width:100%;height: 300px;">
            <table class="table table-styles border mb-0" style="table-layout:fixed;font-size:10px" id="tempmedicalHistoryList">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام بیماری</th>
                    <th>تاریخ شروع بیماری</th>
                    <th>مدت زمان بیماری تاکنون</th>
                    <th>واحد اندازه گیری</th>
                    <th>توضیح</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="tempmedicalHistory">
                <tr id="emptyRow">
                    <td colspan="7" class="text-center">سطری وجود ندارد</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@*END medicalHistory*@
@*START diag*@
@await Html.PartialAsync("/Modules/MC/AdmissionDiagnosis/DiagnosisSection.cshtml")
@*END diag*@
</div>
</fieldset>
</div>
</div>
</div>
</div>
</div> <!-- end col -->
</div>
</div>

@await Html.PartialAsync("/Modules/MC/SearchAdmissionModal/SearchAdmissionModal.cshtml")

@await Html.PartialAsync("/Modules/MC/AdmissionDisplay/AdmissionDisplay.cshtml")

<script src="/js/formplate.js"></script>
<script src="/js/formplate1.js"></script>
<script src="~/js/admission.js?ver=@Guid.NewGuid().ToString().Replace("-", "")"></script>
<script src="~/lib/jquery-ui/js/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" class="main-script" src="/Modules/MC/AdmissionRefer/AdmissionReferSendFeedbackForm.js"></script>